In [5]:
import pandas as pd
import datetime
from datetime import timedelta
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(11.7,8.27)})

In [6]:
df = pd.read_csv("module-2-linux-database-deployments/source/vtf2020_module2_data.csv",  parse_dates=True)

In [7]:
df.count()

userID         2103296
reqDate        2103296
transID        2103296
bankCode       1051478
amount         2103296
transStatus    2103296
type           2103296
dtype: int64

In [8]:
df['reqDate']

0          2018-12-28 00:07:36.302
1          2018-12-28 00:08:35.218
2          2018-12-28 00:27:33.530
3          2018-12-28 01:00:55.220
4          2018-12-28 01:48:51.443
                    ...
2103291    2018-12-14 13:17:52.888
2103292    2018-12-14 15:41:49.949
2103293    2018-12-30 08:57:41.758
2103294    2018-12-07 12:09:06.035
2103295    2018-12-06 19:37:38.320
Name: reqDate, Length: 2103296, dtype: object

In [9]:
df['reqDate'] = df['reqDate'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f').date())

# Bank Success Rate

In [10]:
df.loc[df['bankCode'] == 'BIDV']

,userID,reqDate,transID,bankCode,amount,transStatus,type
899399,b65832ffed27be9673e83962da3da6c8,2018-12-20,181220000142753,BIDV,790000,0,138
1466314,15e59ee761c854df56df4ac4c896ff40,2018-12-24,181224000019983,BIDV,117000,0,24
1520545,30884aff88caa1497b5e248dbc99226e,2018-12-26,181226000126720,BIDV,239000,0,237

In [11]:
sorted_date = sorted(df['reqDate'].unique())

In [12]:
bank_success = df.groupby(['bankCode', 'reqDate']).agg({
    'transStatus': 'sum',
    'transID': 'count'
})

bank_success.columns = ['successTransactions', 'totalTransactions']
bank_success['SuccessRate'] = bank_success['successTransactions'] / bank_success['totalTransactions']
bank_success

                     successTransactions  totalTransactions  SuccessRate
bankCode reqDate
BIDV     2018-12-20                    0                  1     0.000000
         2018-12-24                    0                  1     0.000000
         2018-12-26                    0                  1     0.000000
CC       2018-12-26                    0                  1     0.000000
         2018-12-30                    0                  1     0.000000
...                                  ...                ...          ...
ZPVCCB   2018-12-27                   52                 91     0.571429
         2018-12-28                   63                 75     0.840000
         2018-12-29                   28                 29     0.965517
         2018-12-30                   24                 28     0.857143
         2018-12-31                   19                 23     0.826087

[291 rows x 3 columns]

In [26]:
bank_success_reset_index = bank_success.reset_index()
bank_success_reset_index

    bankCode     reqDate  successTransactions  totalTransactions  SuccessRate
0       BIDV  2018-12-20                    0                  1     0.000000
1       BIDV  2018-12-24                    0                  1     0.000000
2       BIDV  2018-12-26                    0                  1     0.000000
3         CC  2018-12-26                    0                  1     0.000000
4         CC  2018-12-30                    0                  1     0.000000
..       ...         ...                  ...                ...          ...
286   ZPVCCB  2018-12-27                   52                 91     0.571429
287   ZPVCCB  2018-12-28                   63                 75     0.840000
288   ZPVCCB  2018-12-29                   28                 29     0.965517
289   ZPVCCB  2018-12-30                   24                 28     0.857143
290   ZPVCCB  2018-12-31                   19                 23     0.826087

[291 rows x 5 columns]

In [28]:
for b in bank_success_reset_index.values:
    print(b)

['BIDV' datetime.date(2018, 12, 20) 0 1 0.0]
['BIDV' datetime.date(2018, 12, 24) 0 1 0.0]
['BIDV' datetime.date(2018, 12, 26) 0 1 0.0]
['CC' datetime.date(2018, 12, 26) 0 1 0.0]
['CC' datetime.date(2018, 12, 30) 0 1 0.0]
['VTB' datetime.date(2018, 12, 22) 0 1 0.0]
['VTB' datetime.date(2018, 12, 25) 0 1 0.0]
['ZPBIDV' datetime.date(2018, 12, 1) 2841 3339 0.8508535489667565]
['ZPBIDV' datetime.date(2018, 12, 2) 2349 2671 0.8794459004118308]
['ZPBIDV' datetime.date(2018, 12, 3) 1935 2713 0.7132325838555105]
['ZPBIDV' datetime.date(2018, 12, 4) 1926 4050 0.47555555555555556]
['ZPBIDV' datetime.date(2018, 12, 5) 3117 5380 0.579368029739777]
['ZPBIDV' datetime.date(2018, 12, 6) 2606 4080 0.6387254901960784]
['ZPBIDV' datetime.date(2018, 12, 7) 3348 4439 0.7542239243072764]
['ZPBIDV' datetime.date(2018, 12, 8) 2887 3679 0.784724109812449]
['ZPBIDV' datetime.date(2018, 12, 9) 2748 3394 0.8096641131408367]
['ZPBIDV' datetime.date(2018, 12, 10) 4405 5337 0.8253700580850665]
['ZPBIDV' datetime.date(2018, 12, 11) 3739 4497 0.831443184345119]
['ZPBIDV' datetime.date(2018, 12, 12) 4331 5265 0.8226020892687559]
['ZPBIDV' datetime.date(2018, 12, 13) 3904 4915 0.7943031536113937]
['ZPBIDV' datetime.date(2018, 12, 14) 4391 5408 0.8119452662721893]
['ZPBIDV' datetime.date(2018, 12, 15) 3549 4336 0.8184963099630996]
['ZPBIDV' datetime.date(2018, 12, 16) 3861 4812 0.8023690773067331]
['ZPBIDV' datetime.date(2018, 12, 17) 4259 5350 0.7960747663551402]
['ZPBIDV' datetime.date(2018, 12, 18) 4362 5441 0.8016908656496967]
['ZPBIDV' datetime.date(2018, 12, 19) 4889 6091 0.8026596617960926]
['ZPBIDV' datetime.date(2018, 12, 20) 5198 6653 0.7813016684202615]
['ZPBIDV' datetime.date(2018, 12, 21) 4844 6157 0.7867467922689622]
['ZPBIDV' datetime.date(2018, 12, 22) 4667 6277 0.7435080452445436]
['ZPBIDV' datetime.date(2018, 12, 23) 4121 5372 0.7671258376768428]
['ZPBIDV' datetime.date(2018, 12, 24) 5059 6326 0.7997154600063231]
['ZPBIDV' datetime.date(2018, 12, 25) 4850 6032 0.8040450928381963]
['ZPBIDV' datetime.date(2018, 12, 26) 4302 5429 0.7924111254374655]
['ZPBIDV' datetime.date(2018, 12, 27) 4097 5466 0.7495426271496524]
['ZPBIDV' datetime.date(2018, 12, 28) 4884 6117 0.7984306032368809]
['ZPBIDV' datetime.date(2018, 12, 29) 3911 4885 0.8006141248720573]
['ZPBIDV' datetime.date(2018, 12, 30) 3592 4476 0.8025022341376229]
['ZPBIDV' datetime.date(2018, 12, 31) 3336 4244 0.7860508953817154]
['ZPCC' datetime.date(2018, 12, 1) 6276 7675 0.8177198697068404]
['ZPCC' datetime.date(2018, 12, 2) 5230 6390 0.8184663536776213]
['ZPCC' datetime.date(2018, 12, 3) 5394 6715 0.8032762472077438]
['ZPCC' datetime.date(2018, 12, 4) 5622 7091 0.7928359892821887]
['ZPCC' datetime.date(2018, 12, 5) 8390 10303 0.8143259244880132]
['ZPCC' datetime.date(2018, 12, 6) 6200 8213 0.7549007670765859]
['ZPCC' datetime.date(2018, 12, 7) 6927 9001 0.7695811576491501]
['ZPCC' datetime.date(2018, 12, 8) 7331 9475 0.7737203166226913]
['ZPCC' datetime.date(2018, 12, 9) 6207 8115 0.7648798521256932]
['ZPCC' datetime.date(2018, 12, 10) 9340 12247 0.7626357475300074]
['ZPCC' datetime.date(2018, 12, 11) 7504 9610 0.7808532778355879]
['ZPCC' datetime.date(2018, 12, 12) 10515 13564 0.7752138012385726]
['ZPCC' datetime.date(2018, 12, 13) 7723 9961 0.7753237626744303]
['ZPCC' datetime.date(2018, 12, 14) 9062 12056 0.7516589250165893]
['ZPCC' datetime.date(2018, 12, 15) 7353 9530 0.7715634837355719]
['ZPCC' datetime.date(2018, 12, 16) 8045 10581 0.7603251110481051]
['ZPCC' datetime.date(2018, 12, 17) 8834 11668 0.7571134727459718]
['ZPCC' datetime.date(2018, 12, 18) 9284 11904 0.7799059139784946]
['ZPCC' datetime.date(2018, 12, 19) 11359 14576 0.779294731064764]
['ZPCC' datetime.date(2018, 12, 20) 10652 14073 0.7569103957933632]
['ZPCC' datetime.date(2018, 12, 21) 9562 12626 0.7573261523839696]
['ZPCC' datetime.date(2018, 12, 22) 9181 12536 0.7323707721761328]
['ZPCC' datetime.date(2018, 12, 23) 7526 10036 0.7499003587086489]
['ZPCC' datetime.date(2018, 12, 24) 9072 11760 0.7714285714285715]
['ZPCC' datetime.date(2018, 12, 25) 9005 11685 0.7706461275139067]
['ZPCC' datetime.date(2018, 12, 26) 8989 11699 0.7683562697666467]
['ZPCC' datetime.date(2018, 12, 27) 9876 13509 0.7310681767710415]
['ZPCC' datetime.date(2018, 12, 28) 10372 13765 0.7535052669814748]
['ZPCC' datetime.date(2018, 12, 29) 7573 9769 0.7752072883611424]
['ZPCC' datetime.date(2018, 12, 30) 7116 9657 0.736874805840323]
['ZPCC' datetime.date(2018, 12, 31) 6539 8968 0.7291480820695807]
['ZPCTG' datetime.date(2018, 12, 1) 3875 4521 0.8571112585711126]
['ZPCTG' datetime.date(2018, 12, 2) 3005 3605 0.8335644937586685]
['ZPCTG' datetime.date(2018, 12, 3) 3600 4336 0.8302583025830258]
['ZPCTG' datetime.date(2018, 12, 4) 3645 4287 0.8502449265220434]
['ZPCTG' datetime.date(2018, 12, 5) 4675 5520 0.8469202898550725]
['ZPCTG' datetime.date(2018, 12, 6) 4151 5031 0.825084476247267]
['ZPCTG' datetime.date(2018, 12, 7) 4505 5514 0.8170112441059122]
['ZPCTG' datetime.date(2018, 12, 8) 3735 4677 0.7985888389993585]
['ZPCTG' datetime.date(2018, 12, 9) 3241 4024 0.8054174950298211]
['ZPCTG' datetime.date(2018, 12, 10) 6071 7293 0.8324420677361853]
['ZPCTG' datetime.date(2018, 12, 11) 4941 6013 0.8217196075170464]
['ZPCTG' datetime.date(2018, 12, 12) 6072 7522 0.807232119117256]
['ZPCTG' datetime.date(2018, 12, 13) 5182 6422 0.8069137340392402]
['ZPCTG' datetime.date(2018, 12, 14) 5813 7151 0.8128933016361348]
['ZPCTG' datetime.date(2018, 12, 15) 4515 5599 0.80639399892838]
['ZPCTG' datetime.date(2018, 12, 16) 4709 5995 0.7854879065888241]
['ZPCTG' datetime.date(2018, 12, 17) 5439 6890 0.7894049346879536]
['ZPCTG' datetime.date(2018, 12, 18) 5676 7155 0.7932914046121593]
['ZPCTG' datetime.date(2018, 12, 19) 6315 7877 0.8017011552621557]
['ZPCTG' datetime.date(2018, 12, 20) 7054 8748 0.8063557384545039]
['ZPCTG' datetime.date(2018, 12, 21) 6469 8104 0.7982477788746298]
['ZPCTG' datetime.date(2018, 12, 22) 5648 7126 0.7925905136121246]
['ZPCTG' datetime.date(2018, 12, 23) 4944 6270 0.7885167464114833]
['ZPCTG' datetime.date(2018, 12, 24) 6414 8038 0.7979596914655387]
['ZPCTG' datetime.date(2018, 12, 25) 5974 7669 0.7789803103403312]
['ZPCTG' datetime.date(2018, 12, 26) 5729 7157 0.8004750593824228]
['ZPCTG' datetime.date(2018, 12, 27) 5826 7219 0.8070369857320958]
['ZPCTG' datetime.date(2018, 12, 28) 7420 9051 0.819798917246713]
['ZPCTG' datetime.date(2018, 12, 29) 5132 6304 0.8140862944162437]
['ZPCTG' datetime.date(2018, 12, 30) 4719 5937 0.7948458817584638]
['ZPCTG' datetime.date(2018, 12, 31) 4438 5394 0.8227660363366703]
['ZPEIB' datetime.date(2018, 12, 1) 264 346 0.7630057803468208]
['ZPEIB' datetime.date(2018, 12, 2) 179 227 0.788546255506608]
['ZPEIB' datetime.date(2018, 12, 3) 212 256 0.828125]
['ZPEIB' datetime.date(2018, 12, 4) 230 280 0.8214285714285714]
['ZPEIB' datetime.date(2018, 12, 5) 322 395 0.8151898734177215]
['ZPEIB' datetime.date(2018, 12, 6) 258 333 0.7747747747747747]
['ZPEIB' datetime.date(2018, 12, 7) 265 362 0.7320441988950276]
['ZPEIB' datetime.date(2018, 12, 8) 23 727 0.03163686382393398]
['ZPEIB' datetime.date(2018, 12, 9) 1 285 0.0035087719298245615]
['ZPEIB' datetime.date(2018, 12, 10) 295 398 0.7412060301507538]
['ZPEIB' datetime.date(2018, 12, 11) 292 413 0.7070217917675545]
['ZPEIB' datetime.date(2018, 12, 12) 404 588 0.6870748299319728]
['ZPEIB' datetime.date(2018, 12, 13) 341 480 0.7104166666666667]
['ZPEIB' datetime.date(2018, 12, 14) 315 482 0.6535269709543569]
['ZPEIB' datetime.date(2018, 12, 15) 279 422 0.6611374407582938]
['ZPEIB' datetime.date(2018, 12, 16) 240 373 0.6434316353887399]
['ZPEIB' datetime.date(2018, 12, 17) 317 473 0.6701902748414377]
['ZPEIB' datetime.date(2018, 12, 18) 332 454 0.7312775330396476]
['ZPEIB' datetime.date(2018, 12, 19) 374 543 0.6887661141804788]
['ZPEIB' datetime.date(2018, 12, 20) 358 542 0.6605166051660517]
['ZPEIB' datetime.date(2018, 12, 21) 383 501 0.7644710578842315]
['ZPEIB' datetime.date(2018, 12, 22) 297 404 0.7351485148514851]
['ZPEIB' datetime.date(2018, 12, 23) 263 363 0.7245179063360881]
['ZPEIB' datetime.date(2018, 12, 24) 321 465 0.6903225806451613]
['ZPEIB' datetime.date(2018, 12, 25) 338 491 0.6883910386965377]
['ZPEIB' datetime.date(2018, 12, 26) 346 448 0.7723214285714286]
['ZPEIB' datetime.date(2018, 12, 27) 351 540 0.65]
['ZPEIB' datetime.date(2018, 12, 28) 422 566 0.7455830388692579]
['ZPEIB' datetime.date(2018, 12, 29) 400 506 0.7905138339920948]
['ZPEIB' datetime.date(2018, 12, 30) 273 389 0.7017994858611826]
['ZPEIB' datetime.date(2018, 12, 31) 276 356 0.7752808988764045]
['ZPHDB' datetime.date(2018, 12, 28) 3 16 0.1875]
['ZPMB' datetime.date(2018, 12, 1) 229 285 0.8035087719298246]
['ZPMB' datetime.date(2018, 12, 2) 208 238 0.8739495798319328]
['ZPMB' datetime.date(2018, 12, 3) 194 250 0.776]
['ZPMB' datetime.date(2018, 12, 4) 203 287 0.7073170731707317]
['ZPMB' datetime.date(2018, 12, 5) 295 358 0.8240223463687151]
['ZPMB' datetime.date(2018, 12, 6) 266 316 0.8417721518987342]
['ZPMB' datetime.date(2018, 12, 7) 279 374 0.7459893048128342]
['ZPMB' datetime.date(2018, 12, 8) 362 483 0.7494824016563147]
['ZPMB' datetime.date(2018, 12, 9) 247 310 0.7967741935483871]
['ZPMB' datetime.date(2018, 12, 10) 410 519 0.789980732177264]
['ZPMB' datetime.date(2018, 12, 11) 360 424 0.8490566037735849]
['ZPMB' datetime.date(2018, 12, 12) 453 597 0.7587939698492462]
['ZPMB' datetime.date(2018, 12, 13) 411 524 0.7843511450381679]
['ZPMB' datetime.date(2018, 12, 14) 419 537 0.7802607076350093]
['ZPMB' datetime.date(2018, 12, 15) 349 476 0.7331932773109243]
['ZPMB' datetime.date(2018, 12, 16) 473 589 0.8030560271646859]
['ZPMB' datetime.date(2018, 12, 17) 414 524 0.7900763358778626]
['ZPMB' datetime.date(2018, 12, 18) 498 693 0.7186147186147186]
['ZPMB' datetime.date(2018, 12, 19) 488 644 0.7577639751552795]
['ZPMB' datetime.date(2018, 12, 20) 565 746 0.7573726541554959]
['ZPMB' datetime.date(2018, 12, 21) 478 618 0.7734627831715211]
['ZPMB' datetime.date(2018, 12, 22) 439 568 0.772887323943662]
['ZPMB' datetime.date(2018, 12, 23) 412 517 0.7969052224371374]
['ZPMB' datetime.date(2018, 12, 24) 491 648 0.7577160493827161]
['ZPMB' datetime.date(2018, 12, 25) 442 605 0.7305785123966942]
['ZPMB' datetime.date(2018, 12, 26) 431 580 0.743103448275862]
['ZPMB' datetime.date(2018, 12, 27) 419 552 0.7590579710144928]
['ZPMB' datetime.date(2018, 12, 28) 547 707 0.7736916548797736]
['ZPMB' datetime.date(2018, 12, 29) 424 529 0.8015122873345936]
['ZPMB' datetime.date(2018, 12, 30) 407 551 0.7386569872958257]
['ZPMB' datetime.date(2018, 12, 31) 350 461 0.7592190889370932]
['ZPSGCB' datetime.date(2018, 12, 1) 72 102 0.7058823529411765]
['ZPSGCB' datetime.date(2018, 12, 2) 82 101 0.8118811881188119]
['ZPSGCB' datetime.date(2018, 12, 3) 65 88 0.7386363636363636]
['ZPSGCB' datetime.date(2018, 12, 4) 91 126 0.7222222222222222]
['ZPSGCB' datetime.date(2018, 12, 5) 154 204 0.7549019607843137]
['ZPSGCB' datetime.date(2018, 12, 6) 88 118 0.7457627118644068]
['ZPSGCB' datetime.date(2018, 12, 7) 71 95 0.7473684210526316]
['ZPSGCB' datetime.date(2018, 12, 8) 87 114 0.7631578947368421]
['ZPSGCB' datetime.date(2018, 12, 9) 87 121 0.71900826446281]
['ZPSGCB' datetime.date(2018, 12, 10) 128 170 0.7529411764705882]
['ZPSGCB' datetime.date(2018, 12, 11) 92 112 0.8214285714285714]
['ZPSGCB' datetime.date(2018, 12, 12) 112 139 0.8057553956834532]
['ZPSGCB' datetime.date(2018, 12, 13) 90 123 0.7317073170731707]
['ZPSGCB' datetime.date(2018, 12, 14) 114 164 0.6951219512195121]
['ZPSGCB' datetime.date(2018, 12, 15) 86 120 0.7166666666666667]
['ZPSGCB' datetime.date(2018, 12, 16) 94 134 0.7014925373134329]
['ZPSGCB' datetime.date(2018, 12, 17) 96 130 0.7384615384615385]
['ZPSGCB' datetime.date(2018, 12, 18) 87 132 0.6590909090909091]
['ZPSGCB' datetime.date(2018, 12, 19) 145 183 0.7923497267759563]
['ZPSGCB' datetime.date(2018, 12, 20) 105 149 0.7046979865771812]
['ZPSGCB' datetime.date(2018, 12, 21) 119 163 0.7300613496932515]
['ZPSGCB' datetime.date(2018, 12, 22) 123 156 0.7884615384615384]
['ZPSGCB' datetime.date(2018, 12, 23) 85 122 0.6967213114754098]
['ZPSGCB' datetime.date(2018, 12, 24) 95 134 0.7089552238805971]
['ZPSGCB' datetime.date(2018, 12, 25) 95 130 0.7307692307692307]
['ZPSGCB' datetime.date(2018, 12, 26) 93 123 0.7560975609756098]
['ZPSGCB' datetime.date(2018, 12, 27) 116 175 0.6628571428571428]
['ZPSGCB' datetime.date(2018, 12, 28) 134 168 0.7976190476190477]
['ZPSGCB' datetime.date(2018, 12, 29) 97 140 0.6928571428571428]
['ZPSGCB' datetime.date(2018, 12, 30) 115 156 0.7371794871794872]
['ZPSGCB' datetime.date(2018, 12, 31) 90 117 0.7692307692307693]
['ZPSTB' datetime.date(2018, 12, 1) 1475 1816 0.8122246696035242]
['ZPSTB' datetime.date(2018, 12, 2) 1204 1566 0.768837803320562]
['ZPSTB' datetime.date(2018, 12, 3) 1408 1885 0.7469496021220159]
['ZPSTB' datetime.date(2018, 12, 4) 1372 1809 0.7584300718629077]
['ZPSTB' datetime.date(2018, 12, 5) 1760 2254 0.7808340727595386]
['ZPSTB' datetime.date(2018, 12, 6) 1511 2097 0.7205531711969481]
['ZPSTB' datetime.date(2018, 12, 7) 1605 2027 0.7918105574740997]
['ZPSTB' datetime.date(2018, 12, 8) 1598 2078 0.7690086621751684]
['ZPSTB' datetime.date(2018, 12, 9) 1295 1832 0.7068777292576419]
['ZPSTB' datetime.date(2018, 12, 10) 2019 2616 0.7717889908256881]
['ZPSTB' datetime.date(2018, 12, 11) 1781 2439 0.7302173021730217]
['ZPSTB' datetime.date(2018, 12, 12) 2026 2703 0.7495375508694043]
['ZPSTB' datetime.date(2018, 12, 13) 1728 2276 0.7592267135325131]
['ZPSTB' datetime.date(2018, 12, 14) 1996 2641 0.7557743279060962]
['ZPSTB' datetime.date(2018, 12, 15) 1648 2302 0.7158992180712423]
['ZPSTB' datetime.date(2018, 12, 16) 1629 2120 0.7683962264150943]
['ZPSTB' datetime.date(2018, 12, 17) 1796 2374 0.7565290648694187]
['ZPSTB' datetime.date(2018, 12, 18) 1907 2477 0.7698829228905935]
['ZPSTB' datetime.date(2018, 12, 19) 2205 2874 0.767223382045929]
['ZPSTB' datetime.date(2018, 12, 20) 2297 2906 0.79043358568479]
['ZPSTB' datetime.date(2018, 12, 21) 1883 2436 0.7729885057471264]
['ZPSTB' datetime.date(2018, 12, 22) 1967 2587 0.7603401623502126]
['ZPSTB' datetime.date(2018, 12, 23) 1674 2299 0.7281426707264028]
['ZPSTB' datetime.date(2018, 12, 24) 2258 2886 0.7823977823977823]
['ZPSTB' datetime.date(2018, 12, 25) 2082 2685 0.7754189944134078]
['ZPSTB' datetime.date(2018, 12, 26) 1958 2504 0.7819488817891374]
['ZPSTB' datetime.date(2018, 12, 27) 1846 2539 0.7270578968097676]
['ZPSTB' datetime.date(2018, 12, 28) 2205 2876 0.7666898470097357]
['ZPSTB' datetime.date(2018, 12, 29) 1712 2161 0.7922258213789912]
['ZPSTB' datetime.date(2018, 12, 30) 0 8 0.0]
['ZPSTB' datetime.date(2018, 12, 31) 1673 2167 0.7720350715274573]
['ZPTCB' datetime.date(2018, 12, 28) 15 26 0.5769230769230769]
['ZPTCB' datetime.date(2018, 12, 29) 446 1404 0.3176638176638177]
['ZPTCB' datetime.date(2018, 12, 30) 23 38 0.6052631578947368]
['ZPTCB' datetime.date(2018, 12, 31) 10 11 0.9090909090909091]
['ZPVCB' datetime.date(2018, 12, 1) 5327 6264 0.8504150702426565]
['ZPVCB' datetime.date(2018, 12, 2) 4292 5084 0.8442171518489379]
['ZPVCB' datetime.date(2018, 12, 3) 4723 6017 0.7849426624563736]
['ZPVCB' datetime.date(2018, 12, 4) 4970 5950 0.8352941176470589]
['ZPVCB' datetime.date(2018, 12, 5) 6643 8203 0.8098256735340729]
['ZPVCB' datetime.date(2018, 12, 6) 5438 6404 0.849156777014366]
['ZPVCB' datetime.date(2018, 12, 7) 5844 7189 0.8129086103769648]
['ZPVCB' datetime.date(2018, 12, 8) 5726 6939 0.8251909497045684]
['ZPVCB' datetime.date(2018, 12, 9) 4668 5548 0.8413842826243692]
['ZPVCB' datetime.date(2018, 12, 10) 7745 9290 0.8336921420882669]
['ZPVCB' datetime.date(2018, 12, 11) 6526 8024 0.8133100697906281]
['ZPVCB' datetime.date(2018, 12, 12) 8696 10651 0.8164491597033142]
['ZPVCB' datetime.date(2018, 12, 13) 7003 8690 0.8058688147295743]
['ZPVCB' datetime.date(2018, 12, 14) 8141 10366 0.785355971445109]
['ZPVCB' datetime.date(2018, 12, 15) 6100 7604 0.8022093634928985]
['ZPVCB' datetime.date(2018, 12, 16) 6748 8516 0.7923907937999061]
['ZPVCB' datetime.date(2018, 12, 17) 7571 9802 0.7723933891042645]
['ZPVCB' datetime.date(2018, 12, 18) 7595 9627 0.788926976212735]
['ZPVCB' datetime.date(2018, 12, 19) 8921 10908 0.8178401173450678]
['ZPVCB' datetime.date(2018, 12, 20) 8602 10475 0.8211933174224344]
['ZPVCB' datetime.date(2018, 12, 21) 8450 10823 0.7807447103390927]
['ZPVCB' datetime.date(2018, 12, 22) 8277 10513 0.7873109483496623]
['ZPVCB' datetime.date(2018, 12, 23) 6869 8498 0.8083078371381501]
['ZPVCB' datetime.date(2018, 12, 24) 8870 10792 0.8219051148999259]
['ZPVCB' datetime.date(2018, 12, 25) 8254 10556 0.781924971580144]
['ZPVCB' datetime.date(2018, 12, 26) 7986 9460 0.8441860465116279]
['ZPVCB' datetime.date(2018, 12, 27) 8119 9876 0.8220939651680842]
['ZPVCB' datetime.date(2018, 12, 28) 9448 11309 0.8354407993633389]
['ZPVCB' datetime.date(2018, 12, 29) 7158 8649 0.8276101283385362]
['ZPVCB' datetime.date(2018, 12, 30) 6506 7746 0.8399173767105603]
['ZPVCB' datetime.date(2018, 12, 31) 6346 7542 0.841421373640944]
['ZPVCCB' datetime.date(2018, 12, 1) 27 40 0.675]
['ZPVCCB' datetime.date(2018, 12, 2) 16 18 0.8888888888888888]
['ZPVCCB' datetime.date(2018, 12, 3) 29 33 0.8787878787878788]
['ZPVCCB' datetime.date(2018, 12, 4) 19 29 0.6551724137931034]
['ZPVCCB' datetime.date(2018, 12, 5) 38 46 0.8260869565217391]
['ZPVCCB' datetime.date(2018, 12, 6) 34 49 0.6938775510204082]
['ZPVCCB' datetime.date(2018, 12, 7) 37 41 0.9024390243902439]
['ZPVCCB' datetime.date(2018, 12, 8) 27 30 0.9]
['ZPVCCB' datetime.date(2018, 12, 9) 17 25 0.68]
['ZPVCCB' datetime.date(2018, 12, 10) 42 60 0.7]
['ZPVCCB' datetime.date(2018, 12, 11) 42 65 0.6461538461538462]
['ZPVCCB' datetime.date(2018, 12, 12) 60 73 0.821917808219178]
['ZPVCCB' datetime.date(2018, 12, 13) 39 50 0.78]
['ZPVCCB' datetime.date(2018, 12, 14) 33 41 0.8048780487804879]
['ZPVCCB' datetime.date(2018, 12, 15) 37 38 0.9736842105263158]
['ZPVCCB' datetime.date(2018, 12, 16) 19 22 0.8636363636363636]
['ZPVCCB' datetime.date(2018, 12, 17) 30 50 0.6]
['ZPVCCB' datetime.date(2018, 12, 18) 43 50 0.86]
['ZPVCCB' datetime.date(2018, 12, 19) 46 57 0.8070175438596491]
['ZPVCCB' datetime.date(2018, 12, 20) 50 65 0.7692307692307693]
['ZPVCCB' datetime.date(2018, 12, 21) 33 39 0.8461538461538461]
['ZPVCCB' datetime.date(2018, 12, 22) 27 55 0.4909090909090909]
['ZPVCCB' datetime.date(2018, 12, 23) 23 47 0.48936170212765956]
['ZPVCCB' datetime.date(2018, 12, 24) 45 84 0.5357142857142857]
['ZPVCCB' datetime.date(2018, 12, 25) 45 53 0.8490566037735849]
['ZPVCCB' datetime.date(2018, 12, 26) 45 50 0.9]
['ZPVCCB' datetime.date(2018, 12, 27) 52 91 0.5714285714285714]
['ZPVCCB' datetime.date(2018, 12, 28) 63 75 0.84]
['ZPVCCB' datetime.date(2018, 12, 29) 28 29 0.9655172413793104]
['ZPVCCB' datetime.date(2018, 12, 30) 24 28 0.8571428571428571]
['ZPVCCB' datetime.date(2018, 12, 31) 19 23 0.8260869565217391]

# RFM

In [13]:
max_date = max(df['reqDate'])
max_date

datetime.date(2018, 12, 31)

In [14]:
rfm = df.groupby(['userID']).agg({
    'reqDate': lambda x: (max_date + timedelta(1) - x.max()).days,
    'transID': 'count',
    'amount': 'sum'
})

In [15]:
rfm.columns = ['recency', 'frequency', 'monetary']

In [16]:
rfm['r-score'] = pd.qcut(rfm['recency'], q=4, labels=range(4, 0, -1))
rfm['f-score'] = pd.qcut(rfm['frequency'], q=4, labels=range(1, 5, 1))
rfm['m-score'] = pd.qcut(rfm['monetary'], q=4, labels=range(1, 5, 1))
rfm

,recency,frequency,monetary,r-score,f-score,m-score
userID,,,,,,
000084454cb2ae6275bb479b957d6b7b,18,7,591530,1,3,3
0000c78ffe9aaa92a4694f65e5465b24,11,2,350000,2,1,2
0000cce93f5aa9df5c0f5c9c002e2e75,20,2,1392600,1,1,4
0001081adfa0c6443ef076f85eeeee5c,11,3,383100,2,2,2
000169c037c452a0d0386f9d06933c5a,2,85,28827200,4,4,4
...,...,...,...,...,...,...
ffffa20c3d0c58f41dec3c5e99f848b2,9,2,211000,2,1,2
ffffa3034495807b1f393ef0a090d6e5,7,1,536000,3,1,3
ffffb1a8994d83f712c2819ab5e97173,11,2,12000,2,1,1
ffffe96889018bde56c719ae1b88711d,25,1,485000,1,1,3
ffffe9cff443b9f021f1945a9b66ad8c,5,2,339000,3,1,2

In [17]:
rfm['RFM-score'] = rfm['r-score'].astype(str) + rfm['f-score'].astype(str) + rfm['m-score'].astype(str)

In [18]:
rfm

,recency,frequency,monetary,r-score,f-score,m-score,RFM-score
userID,,,,,,,
000084454cb2ae6275bb479b957d6b7b,18,7,591530,1,3,3,133
0000c78ffe9aaa92a4694f65e5465b24,11,2,350000,2,1,2,212
0000cce93f5aa9df5c0f5c9c002e2e75,20,2,1392600,1,1,4,114
0001081adfa0c6443ef076f85eeeee5c,11,3,383100,2,2,2,222
000169c037c452a0d0386f9d06933c5a,2,85,28827200,4,4,4,444
...,...,...,...,...,...,...,...
ffffa20c3d0c58f41dec3c5e99f848b2,9,2,211000,2,1,2,212
ffffa3034495807b1f393ef0a090d6e5,7,1,536000,3,1,3,313
ffffb1a8994d83f712c2819ab5e97173,11,2,12000,2,1,1,211
ffffe96889018bde56c719ae1b88711d,25,1,485000,1,1,3,113
ffffe9cff443b9f021f1945a9b66ad8c,5,2,339000,3,1,2,312

# AppID

In [19]:
appid = df.loc[~df['type'].isin([1,2,3,4])]
appid = appid.groupby(['userID', 'type']).agg({
    'amount': 'sum'
})
appid.reset_index(inplace=True)
appid.head()

                             userID  type  amount
0  000084454cb2ae6275bb479b957d6b7b    61  391530
1  0000c78ffe9aaa92a4694f65e5465b24   328  250000
2  0000cce93f5aa9df5c0f5c9c002e2e75   118  692600
3  0001081adfa0c6443ef076f85eeeee5c    12   97000
4  0001081adfa0c6443ef076f85eeeee5c    61  286100

# Users Transfer