In [1]:
import pandas as pd
import json

In [2]:
userID_accountID = pd.read_csv('raw/userID_accountID.csv')
userID_cardID = pd.read_csv('raw/userID_cardID.csv')
userID_deviceID = pd.read_csv('raw/userid_deviceid.csv')

# Users

In [16]:
total_users = list(set(userID_accountID['userID'].tolist() + (userID_cardID['userID'].tolist()) + (userID_deviceID['userID'].tolist())))

In [17]:
len(total_users)

130411

In [20]:
users_df = pd.DataFrame(total_users)

In [21]:
users_df.columns = ['userid']

In [22]:
users_df

                 userid
0       191104935002113
1       200513000046595
2       191223024058373
3       191129565003782
4       200516000022534
...                 ...
130406  171127000006634
130407  191111751008235
130408  190213000003562
130409  200916000047090
130410  190213000003579

[130411 rows x 1 columns]

In [31]:
def create_user_code(row):
    return {
        '_key': str(row['userid'])
    }

In [32]:
users_df['arangoCode'] = users_df.apply(create_user_code , 1)

In [36]:
users_df

                 userid                   arangoCode
0       191104935002113  {'_key': '191104935002113'}
1       200513000046595  {'_key': '200513000046595'}
2       191223024058373  {'_key': '191223024058373'}
3       191129565003782  {'_key': '191129565003782'}
4       200516000022534  {'_key': '200516000022534'}
...                 ...                          ...
130406  171127000006634  {'_key': '171127000006634'}
130407  191111751008235  {'_key': '191111751008235'}
130408  190213000003562  {'_key': '190213000003562'}
130409  200916000047090  {'_key': '200916000047090'}
130410  190213000003579  {'_key': '190213000003579'}

[130411 rows x 2 columns]

In [37]:
users_code_list = users_df['arangoCode'].tolist()

In [38]:
with open('json/graph0_users.json', 'w') as f:
    json.dump(users_code_list, f)

In [39]:
# Convert json to jsonl
!jq -c ".[]" json/graph0_users.json > jsonl/graph0_users.jsonl

In [40]:
!arangoimport --server.password='ngph'  --create-collection true --collection graph0_users --type jsonl --file "jsonl/graph0_users.jsonl" --progress true --threads 16

Connected to ArangoDB 'http+tcp://127.0.0.1:8529, version: 3.7.2-1, database: '_system', username: 'root'
----------------------------------------
database:               _system
collection:             graph0_users
create:                 yes
create database:        no
source filename:        jsonl/graph0_users.jsonl
file type:              jsonl
threads:                16
connect timeout:        5
request timeout:        1200
----------------------------------------
Starting JSON import...
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 131068 bytes (3%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 229369 bytes (6%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 327670 bytes (9%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 425971 bytes (12%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 557039 bytes (15%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 655340 bytes (18%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 753641 bytes (21%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 851942 bytes (24%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 983010 bytes (27%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 1081311 bytes (30%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 1179612 bytes (33%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 1277913 bytes (36%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 1376214 bytes (39%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 1507282 bytes (42%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 1605583 bytes (45%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 1703884 bytes (48%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 1802185 bytes (51%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 1933253 bytes (54%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 2031554 bytes (57%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 2129855 bytes (60%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 2228156 bytes (63%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 2326457 bytes (66%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 2457525 bytes (69%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 2555826 bytes (72%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 2654127 bytes (75%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 2752428 bytes (78%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 2883496 bytes (81%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 2981797 bytes (84%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 3080098 bytes (87%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 3178399 bytes (90%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 3276700 bytes (93%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 3407768 bytes (96%) of input file
2020-10-04T10:11:49Z [52339] INFO [9ddf3] processed 3506069 bytes (99%) of input file

created:          130411
warnings/errors:  0
updated/replaced: 0
ignored:          0

# Account

In [41]:
userID_accountID.head()

            userID        accountID
0  200221000026960  200221100002264
1  191206720001042  191206100000350
2  191210484000661  191210100000238
3  190709000001059  190707100001431
4  191227000009403  191227100000397

In [48]:
account_list = list(set(userID_accountID['accountID'].tolist()))

In [49]:
acccount_df = pd.DataFrame(account_list, columns=['accountid'])

In [50]:
acccount_df

             accountid
0      200310100000773
1      191222100000775
2      200118100000776
3      200220100001800
4      200220100001802
...                ...
10731  200220100001780
10732  200220100001785
10733  191222100000762
10734  200118100000763
10735  200220100001791

[10736 rows x 1 columns]

In [47]:
def create_account_code(row):
    return {
        '_key': str(row['accountid'])
    }

In [51]:
acccount_df['arangoCode'] = acccount_df.apply(create_account_code , 1)

In [52]:
accounts_code_list = acccount_df['arangoCode'].tolist()

In [53]:
with open('json/graph0_account.json', 'w') as f:
    json.dump(accounts_code_list, f)

In [55]:
# Convert json to jsonl
!jq -c ".[]" json/graph0_account.json > jsonl/graph0_account.jsonl

In [56]:
!arangoimport --server.password='ngph'  --create-collection true --collection graph0_account --type jsonl --file "jsonl/graph0_account.jsonl" --progress true --threads 16

Connected to ArangoDB 'http+tcp://127.0.0.1:8529, version: 3.7.2-1, database: '_system', username: 'root'
----------------------------------------
database:               _system
collection:             graph0_account
create:                 yes
create database:        no
source filename:        jsonl/graph0_account.jsonl
file type:              jsonl
threads:                16
connect timeout:        5
request timeout:        1200
----------------------------------------
Starting JSON import...
2020-10-04T10:15:58Z [52594] INFO [9ddf3] processed 32767 bytes (3%) of input file
2020-10-04T10:15:58Z [52594] INFO [9ddf3] processed 65534 bytes (14%) of input file
2020-10-04T10:15:58Z [52594] INFO [9ddf3] processed 98301 bytes (25%) of input file
2020-10-04T10:15:58Z [52594] INFO [9ddf3] processed 131068 bytes (36%) of input file
2020-10-04T10:15:58Z [52594] INFO [9ddf3] processed 163835 bytes (48%) of input file
2020-10-04T10:15:58Z [52594] INFO [9ddf3] processed 196602 bytes (59%) of input file
2020-10-04T10:15:58Z [52594] INFO [9ddf3] processed 229369 bytes (70%) of input file
2020-10-04T10:15:58Z [52594] INFO [9ddf3] processed 262136 bytes (82%) of input file
2020-10-04T10:15:58Z [52594] INFO [9ddf3] processed 289872 bytes (93%) of input file

created:          10736
warnings/errors:  0
updated/replaced: 0
ignored:          0

# Card

In [57]:
userID_cardID.head()

            userID           cardID
0  191111735008352  191111000016864
1  180818000008076  200524000004399
2  190120000001593  190612000556786
3  191124227003671  191124000007604
4  191012537001139  191012000000490

In [58]:
card_list = list(set(userID_cardID['cardID'].tolist()))

In [59]:
card_df = pd.DataFrame(card_list, columns=['cardid'])

In [60]:
card_df

                cardid
0      190612000735238
1      200316000010265
2      191024000008224
3      200316000010283
4      190612000342061
...                ...
32580  190612000866276
32581  190613000421349
32582  190626000011239
32583  200420000006123
32584  191029000011773

[32585 rows x 1 columns]

In [61]:
def create_card_code(row):
    return {
        '_key': str(row['cardid'])
    }

In [62]:
card_df['arangoCode'] = card_df.apply(create_card_code , 1)

In [63]:
card_code_list = card_df['arangoCode'].tolist()

In [64]:
with open('json/graph0_card.json', 'w') as f:
    json.dump(card_code_list, f)

In [65]:
# Convert json to jsonl
!jq -c ".[]" json/graph0_card.json > jsonl/graph0_card.jsonl

In [66]:
!arangoimport --server.password='ngph'  --create-collection true --collection graph0_card --type jsonl --file "jsonl/graph0_card.jsonl" --progress true --threads 16

Connected to ArangoDB 'http+tcp://127.0.0.1:8529, version: 3.7.2-1, database: '_system', username: 'root'
----------------------------------------
database:               _system
collection:             graph0_card
create:                 yes
create database:        no
source filename:        jsonl/graph0_card.jsonl
file type:              jsonl
threads:                16
connect timeout:        5
request timeout:        1200
----------------------------------------
Starting JSON import...
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 32767 bytes (3%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 65534 bytes (6%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 98301 bytes (10%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 131068 bytes (14%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 163835 bytes (17%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 196602 bytes (21%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 229369 bytes (25%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 262136 bytes (29%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 294903 bytes (32%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 327670 bytes (36%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 360437 bytes (40%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 393204 bytes (43%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 425971 bytes (47%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 458738 bytes (51%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 491505 bytes (55%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 524272 bytes (58%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 557039 bytes (62%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 589806 bytes (66%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 622573 bytes (70%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 655340 bytes (73%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 688107 bytes (77%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 720874 bytes (81%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 753641 bytes (84%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 786408 bytes (88%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 819175 bytes (92%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 851942 bytes (96%) of input file
2020-10-04T10:17:44Z [52650] INFO [9ddf3] processed 879795 bytes (99%) of input file

created:          32585
warnings/errors:  0
updated/replaced: 0
ignored:          0

# Device

In [162]:
userID_deviceID.head()

            userID          deviceID
0  190215000014037  5e34bdd5266ff7c6
1  190313000016148  1761c1b0d746b8e8
2  190318000000574  14e0d55eb848e527
3  190722000001381  1f6b129e317e35fa
4  191016219002578  0e2fa6b350f0f020

In [164]:
userID_deviceID

                 userID                              deviceID
0       190215000014037                      5e34bdd5266ff7c6
1       190313000016148                      1761c1b0d746b8e8
2       190318000000574                      14e0d55eb848e527
3       190722000001381                      1f6b129e317e35fa
4       191016219002578                      0e2fa6b350f0f020
...                 ...                                   ...
218388  190502000001734                      09c66ac813712993
218389  190801000001894                       e11920dbaf0f9d2
218390  191031382014740                      25715da6516d4853
218391  191225960015857                      a33aa775c5c484b8
218392  191015135000522  3347785b-a6ab-4cf8-8223-794fb5e4ab8f

[218393 rows x 2 columns]

In [171]:
userID_deviceID.dropna(inplace=True)

In [172]:
device_list = list(set(userID_deviceID['deviceID'].tolist()))

In [173]:
device_df = pd.DataFrame(device_list, columns=['deviceid'])

In [174]:
device_df

                                    deviceid
0                           83f57f9adf980a8b
1       5c690c2e-bba6-4809-9b7c-16cd1eba594c
2                           d6ae97e7544af02c
3                           1440c9d927677c16
4                           e63c23744cba97f1
...                                      ...
137298                      13e0d55eb97ae356
137299                      78b9dd0ea1c6ba1d
137300                      deff485680086f67
137301                      547408d5cd92bd65
137302  fd5dfd2b-f75e-4a6e-970f-2ef8e492a094

[137303 rows x 1 columns]

In [175]:
def create_device_code(row):
    return {
        '_key': str(row['deviceid'])
    }

In [176]:
device_df['arangoCode'] = device_df.apply(create_device_code , 1)

In [177]:
device_code_list = device_df['arangoCode'].tolist()

In [178]:
with open('json/graph0_device.json', 'w') as f:
    json.dump(device_code_list, f)

In [179]:
# Convert json to jsonl
!jq -c ".[]" json/graph0_device.json > jsonl/graph0_device.jsonl

In [180]:
!arangoimport --server.password='ngph'  --create-collection true --collection graph0_device --type jsonl --file "jsonl/graph0_device.jsonl" --progress true --threads 16

Connected to ArangoDB 'http+tcp://127.0.0.1:8529, version: 3.7.2-1, database: '_system', username: 'root'
----------------------------------------
database:               _system
collection:             graph0_device
create:                 yes
create database:        no
source filename:        jsonl/graph0_device.jsonl
file type:              jsonl
threads:                16
connect timeout:        5
request timeout:        1200
----------------------------------------
Starting JSON import...
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 131068 bytes (3%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 262136 bytes (6%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 393204 bytes (9%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 524272 bytes (12%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 655340 bytes (15%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 786408 bytes (18%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 917476 bytes (21%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 1048544 bytes (24%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 1179612 bytes (27%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 1310680 bytes (30%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 1441748 bytes (33%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 1572816 bytes (36%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 1703884 bytes (39%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 1834952 bytes (42%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 1966020 bytes (45%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 2097088 bytes (48%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 2228156 bytes (51%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 2359224 bytes (54%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 2490292 bytes (57%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 2621360 bytes (60%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 2752428 bytes (63%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 2883496 bytes (66%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 3014564 bytes (69%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 3145632 bytes (72%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 3276700 bytes (75%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 3407768 bytes (78%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 3538836 bytes (81%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 3669904 bytes (84%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 3800972 bytes (87%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 3932040 bytes (90%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 4063108 bytes (93%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 4194176 bytes (96%) of input file
2020-10-04T13:54:22Z [93125] INFO [9ddf3] processed 4325244 bytes (99%) of input file
2020-10-04T13:54:23Z [93125] WARNING [e5a29] at position 33500: creating document failed with error 'illegal document key', offending document: {"_key":"22a1c832df60542cư"}

created:          137302
warnings/errors:  1
updated/replaced: 0
ignored:          0

In [84]:
userID_deviceID.loc[userID_deviceID['deviceID'] == '22a1c832df60542cư']

                 userID           deviceID
40512   191022503001390  22a1c832df60542cư
167458  191022306003399  22a1c832df60542cư

# UserID_AccountID

In [127]:
userID_accountID.duplicated().value_counts()

False    10753
dtype: int64

In [128]:
def create_userid_accountid_code(row):
    return {
        '_key': f"{str(row['userID'])}_{str(row['accountID'])}",
        '_from': 'graph0_user/' + str(row['userID']),
        '_to': 'graph0_account/' + str(row['accountID'])
    }

In [129]:
userID_accountID['arangoCode'] = userID_accountID.apply(create_userid_accountid_code, 1)

In [130]:
with open('json/graph0_user_account.json', 'w') as f:
    json.dump(userID_accountID['arangoCode'].tolist(), f)

In [131]:
# Convert json to jsonl
!jq -c ".[]" json/graph0_user_account.json > jsonl/graph0_user_account.jsonl

In [132]:
!arangoimport --server.password="ngph" --create-collection true --create-collection-type edge --collection graph0_user_account  --type jsonl --file "jsonl/graph0_user_account.jsonl" --progress true --threads 16

Connected to ArangoDB 'http+tcp://127.0.0.1:8529, version: 3.7.2-1, database: '_system', username: 'root'
----------------------------------------
database:               _system
collection:             graph0_user_account
create:                 yes
create database:        no
source filename:        jsonl/graph0_user_account.jsonl
file type:              jsonl
threads:                16
connect timeout:        5
request timeout:        1200
----------------------------------------
Starting JSON import...
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 65534 bytes (3%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 131068 bytes (8%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 196602 bytes (13%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 262136 bytes (18%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 327670 bytes (23%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 393204 bytes (28%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 425971 bytes (33%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 491505 bytes (36%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 557039 bytes (41%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 622573 bytes (46%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 688107 bytes (51%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 753641 bytes (56%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 819175 bytes (61%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 851942 bytes (66%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 917476 bytes (69%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 983010 bytes (74%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 1048544 bytes (79%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 1114078 bytes (84%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 1179612 bytes (89%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 1245146 bytes (94%) of input file
2020-10-04T10:42:00Z [53917] INFO [9ddf3] processed 1277913 bytes (99%) of input file

created:          10753
warnings/errors:  0
updated/replaced: 0
ignored:          0

# User Card

In [133]:
userID_cardID.duplicated().value_counts()

False    51131
dtype: int64

In [134]:
def create_userid_cardid_code(row):
    return {
        '_key': f"{str(row['userID'])}_{str(row['cardID'])}",
        '_from': 'graph0_user/' + str(row['userID']),
        '_to': 'graph0_card/' + str(row['cardID'])
    }

In [135]:
userID_cardID['arangoCode'] = userID_cardID.apply(create_userid_cardid_code, 1)

In [136]:
with open('json/graph0_user_card.json', 'w') as f:
    json.dump(userID_cardID['arangoCode'].tolist(), f)

In [137]:
# Convert json to jsonl
!jq -c ".[]" json/graph0_user_card.json > jsonl/graph0_user_card.jsonl

In [138]:
!arangoimport --server.password="ngph" --create-collection true --create-collection-type edge --collection graph0_user_card  --type jsonl --file "jsonl/graph0_user_card.jsonl" --progress true --threads 16

Connected to ArangoDB 'http+tcp://127.0.0.1:8529, version: 3.7.2-1, database: '_system', username: 'root'
----------------------------------------
database:               _system
collection:             graph0_user_card
create:                 yes
create database:        no
source filename:        jsonl/graph0_user_card.jsonl
file type:              jsonl
threads:                16
connect timeout:        5
request timeout:        1200
----------------------------------------
Starting JSON import...
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 196602 bytes (3%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 360437 bytes (6%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 557039 bytes (9%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 720874 bytes (12%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 917476 bytes (15%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 1081311 bytes (18%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 1277913 bytes (21%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 1441748 bytes (24%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 1638350 bytes (27%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 1802185 bytes (30%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 1998787 bytes (33%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 2162622 bytes (36%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 2359224 bytes (39%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 2523059 bytes (42%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 2719661 bytes (45%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 2883496 bytes (48%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 3080098 bytes (51%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 3243933 bytes (54%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 3440535 bytes (57%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 3604370 bytes (60%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 3800972 bytes (63%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 3964807 bytes (66%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 4128642 bytes (69%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 4325244 bytes (72%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 4489079 bytes (75%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 4685681 bytes (78%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 4849516 bytes (81%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 5046118 bytes (84%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 5209953 bytes (87%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 5406555 bytes (90%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 5570390 bytes (93%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 5766992 bytes (96%) of input file
2020-10-04T10:42:06Z [53945] INFO [9ddf3] processed 5930827 bytes (99%) of input file

created:          51131
warnings/errors:  0
updated/replaced: 0
ignored:          0

# User Device

In [181]:
userID_deviceID.duplicated().value_counts()

False    218118
dtype: int64

In [182]:
def create_userid_deviceid_code(row):
    return {
        '_key': f"{str(row['userID'])}_{str(row['deviceID'])}",
        '_from': 'graph0_user/' + str(row['userID']),
        '_to': 'graph0_device/' + str(row['deviceID'])
    }

In [183]:
userID_deviceID['arangoCode'] = userID_deviceID.apply(create_userid_deviceid_code, 1)

In [184]:
with open('json/graph0_user_device.json', 'w') as f:
    json.dump(userID_deviceID['arangoCode'].tolist(), f)

In [185]:
# Convert json to jsonl
!jq -c ".[]" json/graph0_user_device.json > jsonl/graph0_user_device.jsonl

In [186]:
!arangoimport --server.password="ngph" --create-collection true --create-collection-type edge --collection graph0_user_device  --type jsonl --file "jsonl/graph0_user_device.jsonl" --progress true --threads 16

Connected to ArangoDB 'http+tcp://127.0.0.1:8529, version: 3.7.2-1, database: '_system', username: 'root'
----------------------------------------
database:               _system
collection:             graph0_user_device
create:                 yes
create database:        no
source filename:        jsonl/graph0_user_device.jsonl
file type:              jsonl
threads:                16
connect timeout:        5
request timeout:        1200
----------------------------------------
Starting JSON import...
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 851942 bytes (3%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 1703884 bytes (6%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 2523059 bytes (9%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 3375001 bytes (12%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 4194176 bytes (15%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 5046118 bytes (18%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 5865293 bytes (21%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 6717235 bytes (24%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 7536410 bytes (27%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 8388352 bytes (30%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 9207527 bytes (33%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 10059469 bytes (36%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 10911411 bytes (39%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 11730586 bytes (42%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 12582528 bytes (45%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 13401703 bytes (48%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 14253645 bytes (51%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 15072820 bytes (54%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 15924762 bytes (57%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 16743937 bytes (60%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 17595879 bytes (63%) of input file
2020-10-04T13:54:45Z [93185] INFO [9ddf3] processed 18415054 bytes (66%) of input file
2020-10-04T13:54:46Z [93185] INFO [9ddf3] processed 19266996 bytes (69%) of input file
2020-10-04T13:54:46Z [93185] INFO [9ddf3] processed 20086171 bytes (72%) of input file
2020-10-04T13:54:46Z [93185] INFO [9ddf3] processed 20938113 bytes (75%) of input file
2020-10-04T13:54:46Z [93185] INFO [9ddf3] processed 21790055 bytes (78%) of input file
2020-10-04T13:54:46Z [93185] WARNING [e5a29] at position 7415: creating document failed with error 'illegal document key', offending document: {"_key":"191022503001390_22a1c832df60542cư","_from":"graph0_user/191022503001390","_to":"graph0_device/22a1c832df60542cư"}
2020-10-04T13:54:46Z [93185] INFO [9ddf3] processed 22609230 bytes (81%) of input file
2020-10-04T13:54:46Z [93185] INFO [9ddf3] processed 23461172 bytes (84%) of input file
2020-10-04T13:54:46Z [93185] INFO [9ddf3] processed 24280347 bytes (87%) of input file
2020-10-04T13:54:46Z [93185] INFO [9ddf3] processed 25132289 bytes (90%) of input file
2020-10-04T13:54:46Z [93185] INFO [9ddf3] processed 25951464 bytes (93%) of input file
2020-10-04T13:54:47Z [93185] INFO [9ddf3] processed 26803406 bytes (96%) of input file
2020-10-04T13:54:47Z [93185] INFO [9ddf3] processed 27622581 bytes (99%) of input file
2020-10-04T13:54:48Z [93185] WARNING [e5a29] at position 1188: creating document failed with error 'illegal document key', offending document: {"_key":"191022306003399_22a1c832df60542cư","_from":"graph0_user/191022306003399","_to":"graph0_device/22a1c832df60542cư"}

created:          218116
warnings/errors:  2
updated/replaced: 0
ignored:          0

In [200]:
main_db = pd.read_json('investigation/main_db.json')

In [195]:
main_db_list = main_db[0].tolist()

In [9]:
need_db = pd.read_json('investigation/need.json')

In [10]:
need_db_list = need_db[0].tolist()

In [198]:
list(set(main_db_list) & set(need_db_list))

[]

In [202]:
main_db_list[:5]

['000081FB-CAE0-4DBE-8983-D54759750014',
 '0000B1B7-9075-487E-B363-0FF4AE8FF05C',
 '0000B625-66C9-4B23-8509-67B50D0737AE',
 '000103C2-C989-435C-8E5E-15A0D9E03199',
 '00017D00-6F9E-4956-AB4C-FEA04F5115F1']

In [203]:
need_db_list[:5]

['001D6670-4F80-42B6-B1AB-6D948BB70C79',
 '0021B9EF-1129-4AAE-BDA8-6BA52D3401F4',
 '00333317-0592-4EB7-A93F-58A32EC7D1C3',
 '0049DF9C-37F6-49FE-9641-FC2FC525BA1C',
 '0067245A-0F48-4E83-B50D-E5D081761DEE']

In [17]:
links_df = pd.read_json('investigation/links.json')

In [18]:
links_df

                 source            target
0       191129565003782  65acb153c62cbe7e
1       191129565003782  916c42063aa907ef
2       191129565003782  605496a5d2507a6a
3       190802000002131  916c42063aa907ef
4       190802000009180  605496a5d2507a6a
...                 ...               ...
125685  191103507003476  df79265076b950b3
125686  191218231020471  91640931b5452c85
125687  191223981004569  1daf950a03555030
125688  200726000000459  62027f889fd4858a
125689  200928000032086  94b62d49cd103b43

[125690 rows x 2 columns]

In [22]:
data = links_df.groupby('source').agg({'target': lambda x: len(set(x))}).sort_values('target', ascending=False)[:20]

In [23]:
print(repr(data))

                 target
source
181104000001278    1902
170223000002289     803
190222000001425     421
190111000003775     386
170925000026056     235
180127000002704     126
180127000003208      79
190706000000459      65
181221000000614      63
190802000002131      63
180120000000303      57
190120000012242      46
191015910006764      45
191114162012219      36
190122000000312      36
190713000000270      35
180330000006487      33
191003066010659      31
180916000000013      29
190616000002098      28

In [27]:
from tabulate import tabulate
df = pd.DataFrame([["Name","Age"],["Alice",24],["Bob",19]])
print(tabulate(data, tablefmt="grid"))

+-----------------+------+
| 181104000001278 | 1902 |
+-----------------+------+
| 170223000002289 |  803 |
+-----------------+------+
| 190222000001425 |  421 |
+-----------------+------+
| 190111000003775 |  386 |
+-----------------+------+
| 170925000026056 |  235 |
+-----------------+------+
| 180127000002704 |  126 |
+-----------------+------+
| 180127000003208 |   79 |
+-----------------+------+
| 190706000000459 |   65 |
+-----------------+------+
| 181221000000614 |   63 |
+-----------------+------+
| 190802000002131 |   63 |
+-----------------+------+
| 180120000000303 |   57 |
+-----------------+------+
| 190120000012242 |   46 |
+-----------------+------+
| 191015910006764 |   45 |
+-----------------+------+
| 191114162012219 |   36 |
+-----------------+------+
| 190122000000312 |   36 |
+-----------------+------+
| 190713000000270 |   35 |
+-----------------+------+
| 180330000006487 |   33 |
+-----------------+------+
| 191003066010659 |   31 |
+-----------------+------+
| 180916000000013 |   29 |
+-----------------+------+
| 190616000002098 |   28 |
+-----------------+------+

In [8]:
links_df.groupby('target').agg({'source': lambda x: len(set(x))}).sort_values('source')

                                      source
target
002812cb-685a-441d-a662-567a8307dba0       1
8191baddb4598df5                           1
8186a8fb3a07965e                           1
808671f14d83545f                           1
801d03679f8eda8f                           1
...                                      ...
547e7aa35af55fb7                         535
06db97b336d9dfda                         548
4fc9899a2795a0ce                         787
ea313a5dc143332d                         927
92ff9530442ba3af                         930

[1566 rows x 1 columns]

## Kruskal

In [5]:
import networkx as nx