## Import libraries and data

In [6]:
from pyArango.connection import *
import pandas as pd

In [4]:
user_df = pd.read_csv('./users.csv')

In [5]:
user_df.head()

            userID
0  180224000000004
1  180224000000006
2  200803000254471
3  170405000000077
4  181115000012471

## Format to get alike document structure

In [12]:
user_df = pd.read_csv('./users.csv')
user_df.head()

            userID           userID_format
0  180224000000004  userid/180224000000004
1  180224000000006  userid/180224000000006
2  200803000254471  userid/200803000254471
3  170405000000077  userid/170405000000077
4  181115000012471  userid/181115000012471

In [10]:
user_list = user_df['userID_format'].tolist()
user_list[:10]

['userid/180224000000004',
 'userid/180224000000006',
 'userid/200803000254471',
 'userid/170405000000077',
 'userid/181115000012471',
 'userid/180723000001184',
 'userid/191022416003087',
 'userid/180224000000017',
 'userid/180224000000018',
 'userid/181230000005660']

## Connect to ArangoDB using pyArango

In [32]:
conn = Connection(arangoURL="http://10.40.38.4:8529",username="baonlc", password="user_df")

In [33]:
db = conn['user_network']

In [47]:
aql = f"""
LET idList = @user_list
FOR id IN idList
    FOR v, e IN 1..1 ANY id GRAPH "transaction"
        RETURN e
"""
queryResult = db.AQLQuery(aql, rawResults=True, bindVars={user_list: user_list},batchSize=200)

In [ ]:
result = []
for qr in queryResult:
    result.append(qr)

In [ ]:
result_df = pd.DataFrame(result)

In [ ]:
result_df.to_csv('./transaction.csv', index=False)