In [2]:
import pandas as pd

In [3]:
app_id = pd.read_excel('./AppID Merchant.xlsx')

In [4]:
app_id = app_id[['Merchant', 'App ID']]

In [9]:
app_id.columns = ['merchant', 'appid']

In [13]:
app_id.head()

           merchant  appid
0          App Test      3
1          App Test    742
2          App Test  10033
3          App Test  10034
4  Business Service     26

In [14]:
tpe = pd.read_csv('./tpe_device_score_with_header.csv')

In [15]:
tpe.head()

,deviceID,transID,transType,appid,pmcID,amount,userID,osVer,deviceModel,userIP,reqDate,longitude,latitude,campaignID,type_transaction
0,000195863904dc8a,200808000071150,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-08 08:51:08.856,105.952103,10.223810,0,payment
1,000195863904dc8a,200808000089357,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-08 09:47:11.279,105.952107,10.223811,0,payment
2,000195863904dc8a,200809000160928,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-09 14:43:45.359,105.952099,10.223812,0,payment
3,000195863904dc8a,200822000188187,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-22 14:33:30.566,105.952106,10.223818,0,payment
4,000195863904dc8a,200822000271777,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-22 20:30:36.476,105.952090,10.223808,0,payment

In [18]:
result = tpe.join(app_id.set_index('appid'), how='left', on='appid')

In [19]:
result.head()

,deviceID,transID,transType,appid,pmcID,amount,userID,osVer,deviceModel,userIP,reqDate,longitude,latitude,campaignID,type_transaction,merchant
0,000195863904dc8a,200808000071150,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-08 08:51:08.856,105.952103,10.223810,0,payment,Money Transfer
1,000195863904dc8a,200808000089357,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-08 09:47:11.279,105.952107,10.223811,0,payment,Money Transfer
2,000195863904dc8a,200809000160928,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-09 14:43:45.359,105.952099,10.223812,0,payment,Money Transfer
3,000195863904dc8a,200822000188187,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-22 14:33:30.566,105.952106,10.223818,0,payment,Money Transfer
4,000195863904dc8a,200822000271777,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-22 20:30:36.476,105.952090,10.223808,0,payment,Money Transfer

In [28]:
result.groupby(['deviceID', 'appid', 'merchant'])['appid'].count()

deviceID                              appid  merchant
000081FB-CAE0-4DBE-8983-D54759750014  454    Money Transfer     1
0000B1B7-9075-487E-B363-0FF4AE8FF05C  452    Money Transfer     3
                                      454    Money Transfer     3
0000B625-66C9-4B23-8509-67B50D0737AE  12     Digital Goods      4
                                      241    Money Transfer     3
                                                               ..
fffb54dc4f18bfc4                      454    Money Transfer    16
fffebb504e6aca49                      12     Digital Goods      1
                                      21     Utility            2
                                      430    Utility            8
                                      767    Utility            3
Name: appid, Length: 601209, dtype: int64

In [29]:
result['merchant'].unique()

array(['Money Transfer', 'Digital Goods', 'Utility', 'Transportation',
       'Marketplace', 'Entertainment', 'Food and Beverage',
       'Retail Outlet', 'Supermarket & Convenience store',
       'Business Service', 'Travel', 'Electronic Store', 'Clothing',
       'Game', 'Lodging, Hotels & Accommodations', 'App Test'],
      dtype=object)