In [2]:
from pyArango.connection import *
conn = Connection(username='root', password="")

In [3]:
db = conn['_system']

In [4]:
col = db['transaction']

In [5]:
filter_list = []
for x in col.fetchAll():
    _from = x._from.split('/')[0] == 'userid'
    _to = x._to.split('/')[0] == 'userid'
    if _from and _to:
        filter_list.append({'from': x._from, 'to': x._to})

In [6]:
import pandas as pd

In [12]:
df = pd.DataFrame(filter_list)
df.head()

                     from                      to
0  userid/180220000003035  userid/181008000006515
1  userid/200120000037679  userid/200622000027456
2  userid/180220000003035  userid/181008000006515
3  userid/200726000005098  userid/200609000011570
4  userid/181011000004220  userid/181113000008259

In [18]:
def genHash(row):
    return {
        "from": hash(row['from'].split('/')[1]),
        "to": hash(row['to'].split('/')[1])
    }

In [24]:
new_df = df.apply(genHash, axis=1)

In [23]:
new_df

                                                        0
0       {'from': 4847678367059974651, 'to': 4337044294...
1       {'from': 1799303689664477845, 'to': -624959095...
2       {'from': 4847678367059974651, 'to': 4337044294...
3       {'from': -8253077380549246991, 'to': -31981236...
4       {'from': 8394748714991401018, 'to': -751024966...
...                                                   ...
481066  {'from': -7518508301663292474, 'to': 473249425...
481067  {'from': 1844282262172934169, 'to': 7695800041...
481068  {'from': -4267479629850404893, 'to': 222260174...
481069  {'from': 7375233664228572355, 'to': -659686826...
481070  {'from': 5507204210367677371, 'to': 2377112455...

[481071 rows x 1 columns]

In [10]:
hash('userid/180220000003035')

7376229909065196929