In [1]:
import pandas as pd
import glob
from tqdm import tqdm

In [2]:
import json
import dask.bag as db

In [5]:
df = pd.read_json('transaction.9013', lines=True, chunksize=10000)
df_ = pd.concat(df, ignore_index=True)
norm = pd.json_normalize(df_['data'])
norm.to_pickle(f'pickle/transaction.9013.pkl')

In [3]:
pkl_list = []
for x in tqdm(glob.glob('pickle/*')):
    pkl_list.append(pd.read_pickle(x))

100%|██████████| 7/7 [01:26<00:00, 12.41s/it]

In [4]:
filter_list = []
for x in tqdm(pkl_list):
    _from = x._from.split('/')[0] == 'userid'
    _to = x._to.split('/')[0] == 'userid'
    if _from and _to:
        filter_list.append({'from': x._from, 'to': x._to})

  0%|          | 0/7 [00:00<?, ?it/s]

AttributeError: 'Series' object has no attribute 'split'

In [4]:
df_all = pd.concat(pkl_list)

In [ ]:
df_all.to_pickle('pickle/total.pkl')

In [5]:
users = pd.read_csv('./users.csv')
users

                  userID           userID_format
0        180224000000004  userid/180224000000004
1        180224000000006  userid/180224000000006
2        200803000254471  userid/200803000254471
3        170405000000077  userid/170405000000077
4        181115000012471  userid/181115000012471
...                  ...                     ...
1537072  170811000000096  userid/170811000000096
1537073  200612000038899  userid/200612000038899
1537074  181209000010266  userid/181209000010266
1537075  180821000016033  userid/180821000016033
1537076  170929000002042  userid/170929000002042

[1537077 rows x 2 columns]

In [6]:
user_list = users.userID_format.to_list()
user_list[:5]

['userid/180224000000004',
 'userid/180224000000006',
 'userid/200803000254471',
 'userid/170405000000077',
 'userid/181115000012471']

In [7]:
filter_df = df_all.loc[df_all['_from'].isin(user_list) | df_all['_to'].isin(user_list)]

In [8]:
filter_df.reset_index(drop=True, inplace=True)

In [10]:
filter_df.to_json('transaction.json',orient="records")

In [11]:
!jq -c ".[]" transaction.json > transaction.jsonl

In [12]:
!arangoimport --server.username='root' --server.password="" --create-collection true --collection transaction --type jsonl --file "transaction.jsonl" --progress true --threads 32

2020-10-25T13:06:11Z [19505] WARNING capping --threads value to 16
Connected to ArangoDB 'http+tcp://127.0.0.1:8529, version: 3.7.2-1, database: '_system', username: 'root'
----------------------------------------
database:               _system
collection:             transaction
create:                 yes
create database:        no
source filename:        transaction.jsonl
file type:              jsonl
threads:                16
connect timeout:        5
request timeout:        1200
----------------------------------------
Starting JSON import...
2020-10-25T13:06:13Z [19505] INFO [9ddf3] processed 58292493 bytes (3%) of input file
2020-10-25T13:06:16Z [19505] INFO [9ddf3] processed 116584986 bytes (6%) of input file
2020-10-25T13:06:19Z [19505] INFO [9ddf3] processed 174877479 bytes (9%) of input file
2020-10-25T13:06:21Z [19505] INFO [9ddf3] processed 233169972 bytes (12%) of input file
2020-10-25T13:06:23Z [19505] INFO [9ddf3] processed 291462465 bytes (15%) of input file
2020-10-25T13:06:25Z [19505] INFO [9ddf3] processed 349754958 bytes (18%) of input file
2020-10-25T13:06:27Z [19505] INFO [9ddf3] processed 408047451 bytes (21%) of input file
2020-10-25T13:06:28Z [19505] INFO [9ddf3] processed 466339944 bytes (24%) of input file
2020-10-25T13:06:30Z [19505] INFO [9ddf3] processed 524632437 bytes (27%) of input file
2020-10-25T13:06:32Z [19505] INFO [9ddf3] processed 582924930 bytes (30%) of input file
2020-10-25T13:06:33Z [19505] INFO [9ddf3] processed 641217423 bytes (33%) of input file
2020-10-25T13:06:34Z [19505] INFO [9ddf3] processed 699509916 bytes (36%) of input file
2020-10-25T13:06:36Z [19505] INFO [9ddf3] processed 757802409 bytes (39%) of input file
2020-10-25T13:06:37Z [19505] INFO [9ddf3] processed 816094902 bytes (42%) of input file
2020-10-25T13:06:39Z [19505] INFO [9ddf3] processed 874387395 bytes (45%) of input file
2020-10-25T13:06:40Z [19505] INFO [9ddf3] processed 932679888 bytes (48%) of input file
2020-10-25T13:06:41Z [19505] INFO [9ddf3] processed 990972381 bytes (51%) of input file
2020-10-25T13:06:42Z [19505] INFO [9ddf3] processed 1049264874 bytes (54%) of input file
2020-10-25T13:06:43Z [19505] INFO [9ddf3] processed 1107557367 bytes (57%) of input file
2020-10-25T13:06:44Z [19505] INFO [9ddf3] processed 1165849860 bytes (60%) of input file
2020-10-25T13:06:45Z [19505] INFO [9ddf3] processed 1224142353 bytes (63%) of input file
2020-10-25T13:06:46Z [19505] INFO [9ddf3] processed 1282434846 bytes (66%) of input file
2020-10-25T13:06:47Z [19505] INFO [9ddf3] processed 1340694572 bytes (69%) of input file
2020-10-25T13:06:48Z [19505] INFO [9ddf3] processed 1398987065 bytes (72%) of input file
2020-10-25T13:06:49Z [19505] INFO [9ddf3] processed 1457279558 bytes (75%) of input file
2020-10-25T13:06:50Z [19505] INFO [9ddf3] processed 1515572051 bytes (78%) of input file
2020-10-25T13:06:51Z [19505] INFO [9ddf3] processed 1573864544 bytes (81%) of input file
2020-10-25T13:06:51Z [19505] INFO [9ddf3] processed 1632157037 bytes (84%) of input file
2020-10-25T13:06:52Z [19505] INFO [9ddf3] processed 1690449530 bytes (87%) of input file
2020-10-25T13:06:53Z [19505] INFO [9ddf3] processed 1748742023 bytes (90%) of input file
2020-10-25T13:06:54Z [19505] INFO [9ddf3] processed 1807034516 bytes (93%) of input file
2020-10-25T13:06:54Z [19505] INFO [9ddf3] processed 1865327009 bytes (96%) of input file
2020-10-25T13:06:55Z [19505] INFO [9ddf3] processed 1923619502 bytes (99%) of input file

created:          1338023
warnings/errors:  0
updated/replaced: 0
ignored:          0