In [2]:
import pandas as pd
import json

In [9]:
df = pd.read_excel("AppID list.xlsx", names=["Merchant Name", "App ID", "App Name", "Date", "Unknown"])
df.drop(0, inplace=True)
df.drop(['Date', 'Unknown'], axis=1, inplace=True)

In [11]:
df

            Merchant Name App ID                          App Name
1                BAT VANG    870                          BAT VANG
2               EVERGREEN    874                         EVERGREEN
3                     VBM    846                 Vua Bánh Mì QRPay
4         AHAMOVE PAYMENT    813                           AHAMOVE
5                  GEARVN    873                      GEARVN QRPay
..                    ...    ...                               ...
489  LOTTECINEMATUYENQUAN    381        LotteCinema TuyenQuang8030
490    LOTTECINEMABACNINH    380           Lottecinema BacNinh8039
491    LOTTECINEMACONGHOA    379           Lottecinema CongHoa8008
492   LOTTECINEMACANTAVIL    378          Lottecinema Cantavil8009
493  LOTTENHATRANGTRANPHU    377  Lottecinema NhaTrang TranPhu8038

[493 rows x 3 columns]

In [13]:
df_ = pd.read_excel('AppID Merchant.xlsx')
df_ = df_[['Merchant', 'App ID', "App Name"]]
df_.head()

           Merchant  App ID       App Name
0          App Test       3       App Test
1          App Test     742  Food Delivery
2          App Test   10033       MEP Test
3          App Test   10034    SP Test App
4  Business Service      26        CSM VIP

In [21]:
df_

             Merchant  App ID            App Name
0            App Test       3            App Test
1            App Test     742       Food Delivery
2            App Test   10033            MEP Test
3            App Test   10034         SP Test App
4    Business Service      26             CSM VIP
..                ...     ...                 ...
447           Utility     767        Cấp nước Huế
448           Utility   10055  DAI LY MINH PHUONG
449           Utility     843       HOMECREDIT.VN
450           Utility     430              EVNCPC
451           Utility     417          HOMECREDIT

[452 rows x 3 columns]

In [15]:
join_df =pd.merge(df, df_, how="left", left_on=['App ID'], right_on=["App ID"])

In [20]:
join_df[join_df.isna().any(axis=1)]

,Merchant Name,App ID,App Name_x,Merchant,App Name_y
19,Muaban.net,217,Muabannet,NaN,NaN
22,APPLANCER,220,Applancer,NaN,NaN
24,GALAXYVN,248,Galaxy Cinema,NaN,NaN
26,NHAN SUSHI,81,Nhân Sushi,NaN,NaN
31,PNC,85,Phương Nam Corp,NaN,NaN
...,...,...,...,...,...
488,LOTTECINEMATUYENQUAN,381,LotteCinema TuyenQuang8030,NaN,NaN
489,LOTTECINEMABACNINH,380,Lottecinema BacNinh8039,NaN,NaN
490,LOTTECINEMACONGHOA,379,Lottecinema CongHoa8008,NaN,NaN
491,LOTTECINEMACANTAVIL,378,Lottecinema Cantavil8009,NaN,NaN
492,LOTTENHATRANGTRANPHU,377,Lottecinema NhaTrang TranPhu8038,NaN,NaN

In [3]:
def genCode(row):
    return {
        "_key": str(row['App ID']),
        "merchant": row['Merchant'],
        "appName": row['App Name']
    }

In [4]:
df['arangoCode'] = df.apply(genCode, axis=1)

In [5]:
json.dump(df['arangoCode'].tolist(), open('./merchant.json', 'w'))

In [6]:
!arangoimport --server.username="root" --server.password="" --create-collection true --collection merchant "merchant.json" --threads 32

2020-10-28T12:45:28Z [5861] WARNING capping --threads value to 16
Connected to ArangoDB 'http+tcp://127.0.0.1:8529, version: 3.7.2-1, database: '_system', username: 'root'
----------------------------------------
database:               _system
collection:             merchant
create:                 yes
create database:        no
source filename:        merchant.json
file type:              json
threads:                16
connect timeout:        5
request timeout:        1200
----------------------------------------
Starting JSON import...
2020-10-28T12:45:28Z [5861] INFO [9ddf3] processed 32767 bytes (3%) of input file
2020-10-28T12:45:28Z [5861] INFO [9ddf3] processed 34048 bytes (99%) of input file

created:          452
warnings/errors:  0
updated/replaced: 0
ignored:          0