# Preprocess Data

In [1]:
import pandas as pd
import json
from tqdm import tqdm

## Device Profile

In [2]:
android_df = pd.read_csv('raw/dataTest_device_profile_android.csv')
ios_df = pd.read_csv('raw/dataTest_device_profile.csv')
joint_df = pd.concat([android_df, ios_df])
joint_df['params'] = joint_df['params'].apply(lambda x: json.loads(x))
joint_df.head()

,timestamp,userId,params
0,1596244856,170425000002238,{'hw_released': 'Tue Jul 07 08:50:39 GMT+07:00...
1,1596244830,191113586003363,{'hw_released': 'Thu Jul 02 12:19:14 GMT+07:00...
2,1596244888,200413000001404,{'hw_released': 'Thu Dec 07 11:24:05 GMT+07:00...
3,1596244831,200428000037320,{'hw_released': 'Wed Apr 22 07:53:33 GMT+07:00...
4,1596244849,190309000002524,{'hw_released': 'Thu Mar 12 12:05:05 GMT+07:00...

In [3]:
formatted = pd.json_normalize(joint_df['params'])

In [4]:
joint_df.reset_index(drop=True, inplace=True)

formatted.reset_index(drop=True, inplace=True)

In [5]:
new_df = pd.concat([joint_df[['timestamp', 'userId']], formatted], axis=1)
new_df.drop_duplicates(inplace=True)
new_df.head()

,timestamp,userId,hw_released,hw_device_id,battery_voltage,hw_board,hw_cpu_name,hw_screen_aspect_ratio,hw_screen_class,battery_type,...,sim_operator_name,hw_camera_front_optical_stabilization,hw_camera_front_resolution,hw_camera_back_resolution,sim_operator,hw_camera_back_longest_exposure_value,hw_camera_back_supported_resolution,hw_capacity_force_touch,os_multitasking,cellular_capabilities
0,1596244856,170425000002238,Tue Jul 07 08:50:39 GMT+07:00 2020,f21ebb2f9064b16e,4091 mV,exynos9810,exynos9810,2,Normal,Li-ion,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1596244830,191113586003363,Thu Jul 02 12:19:14 GMT+07:00 2020,13cf342d200936c8,4260 mV,AGS2,hi6250,1,Large,Li-poly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1596244888,200413000001404,Thu Dec 07 11:24:05 GMT+07:00 2017,b41f717314855504,3508 mV,SC9830I,sc8830,1,Normal,Li-ion,...,vn,NO,4 MP,7 MP,45204,,3264x2448\n2592x1936\n2048x1536\n1600x1200\n12...,NaN,NaN,NaN
3,1596244831,200428000037320,Wed Apr 22 07:53:33 GMT+07:00 2020,8d36707898c6955d,3877 mV,exynos9810,samsungexynos9810,2,Normal,Li-ion,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1596244849,190309000002524,Thu Mar 12 12:05:05 GMT+07:00 2020,af1934dafd8aba01,3644 mV,mt6757,mt6757,1,Normal,Li-ion,...,NaN,NO,15 MP,12 MP,NaN,,4128x3096\n4128x2320\n3264x1836\n3264x2448\n30...,NaN,NaN,NaN

In [6]:
required_cols = ['timestamp', 'userId', 'hw_released', 'hw_device_id', 'hw_cpu_name',
       'hw_screen_aspect_ratio', 'hw_screen_pixel_density', 'system_packages',
       'network_wifi_mac_address', 'hw_screen_resolution', 'os_version',
       'hw_device_manufacturer', 'hw_cpu_speed', 'hw_device_model',
       'hw_screen_refresh_rate', 'os_name', 'os_root_access',
       'hw_cpu_supported_64_bit_abis', 'user_agent', 'hw_device_string',
       'os_version_name', 'hw_cpu_core_count', 'hw_cpu_supported_32_bit_abis',
       'hw_cpu_processor', 'hw_cpu_manufacturer', 'hw_screen_size',
       'hw_bluetooth_address', 'installed_packages', 'hw_ram_total',
       'hw_cpu_min_speed', 'hw_storage_total', 'list_of_wifi',
       'hw_camera_front_max_photo_resolution',
       'hw_camera_back_max_video_resolution', 'ringtone',
       'hw_camera_number_camera', 'hw_camera_back_max_photo_resolution',
       'hw_camera_front_max_video_resolution']

In [7]:
df = new_df[required_cols]

In [8]:
df.duplicated().value_counts()

False    495535
True         39
dtype: int64

In [9]:
df = df.drop_duplicates()

## Device Transaction

In [10]:
app_id = pd.read_excel('raw/AppID Merchant.xlsx')
app_id = app_id[['Merchant', 'App ID']]
app_id.columns = ['merchant', 'appid']

# format to snake case
# app_id['merchant'] = app_id['merchant'].apply(lambda x: '_'.join([c for c in x.replace(',', '').lower().split(' ') if c.isalnum()]))
app_id.head()

           merchant  appid
0          App Test      3
1          App Test    742
2          App Test  10033
3          App Test  10034
4  Business Service     26

In [11]:
columns = ['deviceID', 'transID', 'transType', 'appid', 'pmcID', 'amount', 'userID', 'osVer', 'deviceModel', 'userIP', 'reqDate', 'longitude', 'latitude', 'campaignID', 'type_transaction']
tpe = pd.read_csv('raw/tpe_device_score.csv', names=columns)
tpe.head()

,deviceID,transID,transType,appid,pmcID,amount,userID,osVer,deviceModel,userIP,reqDate,longitude,latitude,campaignID,type_transaction
0,000195863904dc8a,200808000071150,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-08 08:51:08.856,105.952103,10.223810,0,payment
1,000195863904dc8a,200808000089357,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-08 09:47:11.279,105.952107,10.223811,0,payment
2,000195863904dc8a,200809000160928,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-09 14:43:45.359,105.952099,10.223812,0,payment
3,000195863904dc8a,200822000188187,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-22 14:33:30.566,105.952106,10.223818,0,payment
4,000195863904dc8a,200822000271777,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-22 20:30:36.476,105.952090,10.223808,0,payment

In [12]:
joined_df = tpe.join(app_id.set_index('appid'), how='inner', on='appid')
joined_df.head()

,deviceID,transID,transType,appid,pmcID,amount,userID,osVer,deviceModel,userIP,reqDate,longitude,latitude,campaignID,type_transaction,merchant
0,000195863904dc8a,200808000071150,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-08 08:51:08.856,105.952103,10.223810,0,payment,Money Transfer
1,000195863904dc8a,200808000089357,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-08 09:47:11.279,105.952107,10.223811,0,payment,Money Transfer
2,000195863904dc8a,200809000160928,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-09 14:43:45.359,105.952099,10.223812,0,payment,Money Transfer
3,000195863904dc8a,200822000188187,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-22 14:33:30.566,105.952106,10.223818,0,payment,Money Transfer
4,000195863904dc8a,200822000271777,1,454,39,2000000,200119000040347,Android 28 (9),Samsung SM-J730G,125.214.48.174,2020-08-22 20:30:36.476,105.952090,10.223808,0,payment,Money Transfer

In [13]:
# Check nan
joined_df.isna().count()

deviceID            2164765
transID             2164765
transType           2164765
appid               2164765
pmcID               2164765
amount              2164765
userID              2164765
osVer               2164765
deviceModel         2164765
userIP              2164765
reqDate             2164765
longitude           2164765
latitude            2164765
campaignID          2164765
type_transaction    2164765
merchant            2164765
dtype: int64

In [14]:
# Check nan
joined_df.isna().count()

deviceID            2164765
transID             2164765
transType           2164765
appid               2164765
pmcID               2164765
amount              2164765
userID              2164765
osVer               2164765
deviceModel         2164765
userIP              2164765
reqDate             2164765
longitude           2164765
latitude            2164765
campaignID          2164765
type_transaction    2164765
merchant            2164765
dtype: int64

In [15]:
joined_df[joined_df['deviceID'] == '000195863904dc8a'].groupby(['userID', 'merchant'])['appid'].count()

userID           merchant
200119000040347  Digital Goods      2
                 Money Transfer    16
Name: appid, dtype: int64

# Insert data into ArangoDB

## Add users

In [21]:
unique_dp_users = df['userId'].unique()
len(unique_dp_users)

409836

In [22]:
unique_tpe_users = joined_df['userID'].unique()
len(unique_tpe_users)

236570

In [26]:
len(set(unique_tpe_users) - set(unique_dp_users))

1549

In [28]:
len(set(unique_dp_users) | set(unique_tpe_users))

{180224000000004,
 180224000000006,
 200803000254471,
 200804000595979,
 180703000002573,
 191022416003087,
 180224000000017,
 180224000000018,
 200311000006691,
 180224000000052,
 180703000002613,
 200804000596029,
 180224000000061,
 200704000000066,
 180224000000066,
 180224000000068,
 191122706006085,
 200803000254545,
 200127000084562,
 180224000000081,
 200803000254553,
 200704000000091,
 180224000000091,
 180224000000094,
 180224000000096,
 180224000000099,
 200803000254571,
 200804000596090,
 180703000002684,
 180224000000126,
 200127000084614,
 180703000002696,
 191027424002185,
 180703000002713,
 191101724000410,
 200311000006812,
 180703000002721,
 200612000039075,
 180703000002727,
 180224000000184,
 180224000000185,
 200526000029883,
 180703000002778,
 200803000254684,
 190918737002717,
 180703000002798,
 200704000000251,
 200704000000260,
 180703000002831,
 200803000254737,
 180703000002838,
 200612000039194,
 180224000000286,
 180224000000293,
 180224000000295,
 200803000254761,
 181225000010028,
 200803000254775,
 180703000002875,
 200704000000321,
 200127000084803,
 200526000030020,
 180224000000324,
 200127000084804,
 180703000002892,
 200704000000332,
 200704000000335,
 191105696006480,
 180224000000349,
 200127000084839,
 180224000000361,
 180703000002922,
 200803000254829,
 200804000596337,
 180224000000369,
 200526000030067,
 180224000000380,
 180224000000384,
 200704000000386,
 180703000002947,
 190926616002948,
 191022049001859,
 190927868002696,
 200804000596361,
 180224000000404,
 200704000000408,
 180703000002983,
 200127000084905,
 181225000010155,
 200526000030123,
 180224000000432,
 181225000010168,
 200704000000443,
 180703000003003,
 200526000030142,
 181225000010182,
 180703000003020,
 181225000010190,
 180703000003028,
 200804000596439,
 191221788049880,
 180703000003033,
 200704000000474,
 181225000010203,
 181225000010204,
 200804000596446,
 200526000030177,
 200311000007138,
 180224000000490,
 180224000000493,
 180703000003056,
 191221054046706,
 180224000000514,
 200804000596483,
 180224000000520,
 171117000000012,
 180703000003086,
 180224000000540,
 200803000255005,
 180703000003105,
 180703000003106,
 191223925047846,
 191014170001962,
 191103343002154,
 181225000010282,
 180703000003120,
 181225000010292,
 191124843004474,
 200803000255034,
 180224000000574,
 180703000003137,
 191214081016390,
 180703000003153,
 180224000000596,
 180703000003156,
 171117000000088,
 180224000000606,
 181225000010336,
 200219000046190,
 200127000085104,
 171117000000115,
 181225000010361,
 200311000007290,
 180703000003195,
 200127000085116,
 180703000003200,
 180224000000641,
 200526000030338,
 181225000010368,
 180703000003206,
 180703000003210,
 171117000000138,
 200311000007308,
 171117000000151,
 180224000000664,
 180224000000667,
 180703000003227,
 180224000000671,
 200804000596640,
 180703000003231,
 180703000003235,
 180224000000678,
 200804000596651,
 200704000000688,
 171117000000182,
 200704000000696,
 200612000039609,
 200526000030396,
 180224000000701,
 200219000046270,
 180224000000710,
 171117000000199,
 171117000000206,
 191222220063438,
 200526000030416,
 180224000000722,
 190924630000342,
 180703000003291,
 200804000596700,
 191114978001631,
 171117000000226,
 200803000255204,
 180224000000746,
 171117000000237,
 180703000003317,
 181225000010489,
 180224000000763,
 190916449010429,
 191224227037953,
 191002384007938,
 180703000003329,
 180224000000776,
 200311000007436,
 171117000000272,
 180224000000788,
 200612000039702,
 180703000003351,
 181225000010520,
 180224000000794,
 181225000010529,
 191219542000419,
 200804000596774,
 180310000010024,
 200526000030507,
 200804000596779,
 200612000039728,
 200804000596791,
 180224000000825,
 191213779026747,
 180224000000835,
 180310000010062,
 200804000596816,
 180703000003409,
 180310000010068,
 190914981004117,
 180224000000855,
 200219000046428,
 181225000010589,
 171117000000356,
 200526000030565,
 171117000000365,
 200219000046445,
 180703000003447,
 180224000000887,
 200526000030590,
 181225000010627,
 200803000255366,
 181225000010633,
 200219000046481,
 180224000000915,
 191121972003742,
 180224000000929,
 180224000000935,
 200804000596915,
 181225000010677,
 200219000046517,
 200804000596918,
 180703000003512,
 190912477004732,
 200803000255435,
 200127000085458,
 180703000003541,
 180224000000984,
 200803000255463,
 200804000596972,
 180703000003574,
 200803000255493,
 180703000003603,
 200219000046612,
 180224000001051,
 191024553002023,
 170202000000042,
 170202000000051,
 181225000010805,
 200219000046646,
 180703000003644,
 180224000001087,
 181225000010819,
 200219000046660,
 181225000010822,
 170202000000071,
 200803000255562,
 180224000001100,
 200804000597070,
 181225000010833,
 191213045023837,
 200219000046686,
 181225000010851,
 200804000597097,
 181225000010866,
 180224000001138,
 181225000010874,
 181225000010882,
 180224000001161,
 181225000010893,
 180703000003732,
 200526000030881,
 181225000010917,
 200704000001189,
 180703000003751,
 181225000010920,
 200526000030892,
 180224000001199,
 180224000001205,
 181225000010934,
 180703000003768,
 170202000000185,
 181225000010940,
 181225000010941,
 200311000007877,
 191117849003207,
 181225000010964,
 181225000010965,
 180703000003808,
 180703000003813,
 180703000003817,
 180703000003822,
 181225000010995,
 181225000010999,
 200803000255737,
 180224000001275,
 180703000003839,
 180224000001281,
 191219542000906,
 180703000003851,
 180224000001293,
 200526000030994,
 171203000010003,
 181225000011033,
 171203000010011,
 200803000255773,
 180703000003878,
 180224000001320,
 200803000255787,
 180224000001330,
 200127000085820,
 171203000010051,
 171203000010055,
 180703000003912,
 180224000001366,
 180703000003940,
 200526000031077,
 180703000003942,
 181225000011118,
 181225000011119,
 171203000010098,
 180703000003957,
 181225000011128,
 180703000003962,
 171203000010111,
 180224000001410,
 200219000046990,
 180224000001429,
 180224000001436,
 180224000001437,
 200704000001442,
 180224000001446,
 181225000011180,
 180224000001453,
 171203000010166,
 200219000047031,
 181225000011207,
 181225000011216,
 200804000597457,
 181225000011218,
 171203000010199,
 200127000085975,
 181225000011231,
 171203000010214,
 181225000011238,
 200219000047087,
 181225000011247,
 181225000011254,
 181225000011262,
 171203000010238,
 171203000010242,
 180224000001553,
 181225000011286,
 200526000031266,
 200804000597543,
 171203000010282,
 200804000597547,
 200804000597550,
 200803000256048,
 200526000031283,
 181225000011316,
 181225000011319,
 200127000086073,
 180224000001595,
 171203000010302,
 171203000010303,
 200803000256064,
 181225000011330,
 180224000001608,
 181225000011338,
 181225000011341,
 180224000001618,
 200311000008279,
 171203000010329,
 180224000001627,
 180224000001628,
 200704000001629,
 200219000047199,
 191008795002465,
 200803000256104,
 181225000011370,
 200127000086130,
 180224000001658,
 200311000008315,
 171203000010375,
 200704000001674,
 190929120003724,
 191218139006605,
 200127000086160,
 191112474003090,
 200803000256148,
 200803000256149,
 200803000256150,
 181225000011423,
 171203000010401,
 200803000256162,
 200219000047267,
 200219000047268,
 181225000011434,
 200219000047279,
 180224000001721,
 200704000001731,
 191020430001864,
 180224000001748,
 200219000047318,
 200311000008415,
 200526000031458,
 181225000011508,
 181225000011512,
 180224000001793,
 200704000001799,
 180224000001814,
 200803000256280,
 181225000011546,
 180224000001818,
 180224000001823,
 181225000011568,
 180224000001847,
 181225000011579,
 181225000011586,
 200704000001860,
 200704000001871,
 181225000011600,
 200804000597851,
 181225000011612,
 180224000001893,
 200127000086378,
 200803000256371,
 191015055001459,
 200219000047480,
 200804000597886,
 180224000001920,
 200704000001927,
 180224000001933,
 181225000011680,
 180224000001956,
 200804000597927,
 180224000001974,
 200311000008632,
 181225000011709,
 180224000001981,
 181225000011713,
 180224000001989,
 180224000001991,
 181225000011723,
 180224000001996,
 180224000002000,
 200804000597980,
 180224000002013,
 181225000011743,
 200803000256483,
 200803000256485,
 180224000002022,
 200804000597989,
 181225000011755,
 200127000086515,
 200704000002044,
 180224000002044,
 180224000002048,
 200804000598022,
 200803000256521,
 180224000002058,
 200219000047633,
 200704000002070,
 180224000002071,
 181225000011805,
 200804000598052,
 200311000008740,
 181225000011813,
 200311000008745,
 180224000002100,
 200804000598084,
 200804000598085,
 200803000256593,
 181225000011861,
 200804000598107,
 200803000256603,
 200803000256605,
 200704000002151,
 200219000047723,
 200127000086637,
 180224000002159,
 200803000256628,
 181225000011893,
 180224000002164,
 200803000256635,
 180224000002186,
 180224000002206,
 200704000002226,
 200704000002227,
 200804000598205,
 181225000011976,
 181225000011978,
 200804000598241,
 191118734002405,
 200219000047858,
 200804000598259,
 200803000256757,
 200804000598262,
 200704000002294,
 200311000008956,
 180224000002304,
 200127000086791,
 181225000012041,
 200803000256785,
 200311000008988,
 200127000086822,
 180224000002350,
 181225000012079,
 200219000047928,
 200803000256836,
 180224000002376,
 181225000012107,
 181225000012114,
 200311000009054,
 200804000598370,
 181225000012135,
 200804000598384,
 200311000009073,
 200311000009076,
 200219000047989,
 190725000006005,
 190725000006007,
 180224000002426,
 190725000006012,
 191117482002815,
 181225000012159,
 200704000002433,
 190725000006018,
 180224000002438,
 200804000598406,
 190725000006026,
 181225000012170,
 190725000006031,
 190725000006034,
 190725000006038,
 200704000002455,
 181225000012182,
 191203180022171,
 180224000002463,
 190725000006052,
 200219000048041,
 190725000006058,
 200803000256943,
 190725000006066,
 200311000009142,
 200803000256954,
 200704000002514,
 181225000012245,
 200803000256983,
 181225000012248,
 171117000002009,
 200803000256987,
 171117000002019,
 200219000048100,
 181225000012268,
 200219000048117,
 171117000002038,
 200803000257015,
 191214901004789,
 200804000598528,
 181225000012293,
 181225000012295,
 191118734002695,
 181225000012297,
 181225000012307,
 171117000002068,
 200219000048156,
 191218290002462,
 171117000002088,
 181225000012334,
 181225000012338,
 200219000048186,
 200804000598587,
 200804000598595,
 180224000002630,
 200803000257094,
 181225000012358,
 181225000012364,
 171117000002130,
 171117000002132,
 200803000257109,
 171117000002137,
 180224000002650,
 181225000012386,
 171117000002155,
 200803000257144,
 171117000002170,
 180224000002704,
 181225000012438,
 180224000002711,
 171117000002200,
 181225000012444,
 180224000002717,
 200311000009372,
 200225000000169,
 200803000257199,
 180224000002738,
 200127000087230,
 200127000087241,
 171117000002265,
 180224000002780,
 200225000000228,
 180224000002789,
 181225000012524,
 181225000012535,
 180224000002808,
 171117000002298,
 200804000598779,
 181225000012540,
 171117000002300,
 181225000012551,
 171117000002314,
 181225000012558,
 181225000012561,
 180224000002837,
 181225000012575,
 180224000002849,
 171117000002349,
 200803000257328,
 181225000012594,
 181225000012607,
 181225000012610,
 200803000257349,
 180224000002889,
 180224000002892,
 200804000598860,
 181225000012623,
 180224000002895,
 181225000012638,
 200704000002911,
 180224000002915,
 181225000012652,
 200803000257389,
 180224000002933,
 200127000087414,
 200127000087424,
 180224000002945,
 181225000012675,
 181225000012677,
 200803000257415,
 190926983007112,
 190927868005261,
 180224000002971,
 200704000002988,
 180224000002999,
 180224000003007,
 200803000257488,
 200311000009696,
 191028309003238,
 200225000000487,
 200225000000495,
 200225000000501,
 170202000002044,
 191128750001154,
 200803000257544,
 180224000003080,
 200127000087562,
 191122857004040,
 200311000009740,
 181225000012810,
 180224000003089,
 181225000012818,
 170202000002066,
 180224000003103,
 181225000012832,
 180224000003112,
 191109236001839,
 181225000012850,
 190922860006456,
 200704000003133,
 170202000002121,
 200704000003145,
 180224000003147,
 200225000000586,
 180224000003149,
 200804000599115,
 200127000087631,
 170202000002134,
 180224000003158,
 181225000012886,
 180224000003169,
 180224000003177,
 200225000000635,
 180224000003197,
 181225000012928,
 181225000012930,
 200804000599183,
 181225000012943,
 181225000012945,
 181225000012949,
 180224000003227,
 180224000003235,
 180224000003242,
 170202000002218,
 181225000012971,
 200311000009903,
 200311000009910,
 191111589006519,
 181225000012984,
 200804000599226,
 180224000003270,
 200311000009927,
 190914614004952,
 181225000013020,
 181225000013026,
 180224000003310,
 171203000012020,
 181225000013045,
 171203000012046,
 180224000003347,
 181225000013083,
 200803000257824,
 180224000003365,
 181225000013094,
 181225000013095,
 171203000012072,
 171203000012073,
 200803000257834,
 171203000012089,
 171203000012095,
 180224000003393,
 200803000257858,
 181225000013123,
 181225000013125,
 171203000012106,
 180224000003403,
 200127000087884,
 181225000013138,
 200803000257880,
 180224000003421,
 180224000003423,
 180224000003426,
 180703000006003,
 171203000012147,
 181225000013173,
 180703000006009,
 180224000003454,
 180703000006014,
 180703000006016,
 180703000006018,
 171203000012162,
 200803000257924,
 180224000003460,
 200803000257930,
 200127000087946,
 180224000003472,
 181225000013201,
 180224000003476,
 181225000013227,
 180224000003503,
 200311000010166,
 191212160028091,
 181225000013244,
 180224000003519,
 181225000013248,
 200127000088008,
 200225000000972,
 200803000257996,
 171203000012248,
 180224000003547,
 181225000013275,
 190203000000004,
 190203000000007,
 180224000003596,
 200803000258061,
 200127000088079,
 171203000012303,
 181225000013331,
 200804000599571,
 190203000000024,
 181225000013338,
 181225000013339,
 200704000003622,
 190203000000040,
 200225000001068,
 181225000013361,
 190203000000052,
 200311000010295,
 171203000012345,
 181225000013376,
 181225000013392,
 190203000000085,
 191212915002982,
 200804000599657,
 171203000012394,
 180224000003698,
 180224000003700,
 200804000599678,
 200803000258175,
 180224000003713,
 181225000013445,
 191127131000454,
 190203000000133,
 200704000003725,
 181225000013455,
 181225000013461,
 200804000599701,
 190203000000155,
 181225000013468,
 181225000013470,
 200804000599711,
 200804000599718,
 180224000003758,
 200311000010425,
 180224000003770,
 180224000003785,
 180224000003793,
 190203000000216,
 191222111014628,
 180224000003813,
 180224000003823,
 180224000003833,
 181225000013568,
 191112992001805,
 180224000003858,
 181225000013592,
 180224000003869,
 180224000003872,
 180224000003878,
 190203000000295,
 180224000003885,
 190203000000303,
 191221161004851,
 181225000013619,
 180224000003904,
 180224000003905,
 200704000003917,
 181225000013656,
 200803000258396,
 181225000013662,
 180224000003935,
 200311000010598,
 200803000258409,
 200803000258410,
 181225000013680,
 180224000003955,
 180224000003966,
 190203000000386,
 180224000003977,
 200803000258448,
 180224000003995,
 180224000003997,
 181225000013731,
 181225000013743,
 190203000000439,
 200704000004027,
 190203000000448,
 190203000000453,
 200704000004040,
 180224000004043,
 181225000013772,
 181225000013773,
 200127000088536,
 200311000010715,
 190203000000476,
 200804000600030,
 180224000004064,
 200127000088547,
 181225000013802,
 200225000001516,
 191006442000366,
 190203000000496,
 200803000258550,
 181225000013814,
 190203000000511,
 190203000000513,
 190203000000514,
 180224000004102,
 190203000000531,
 180224000004115,
 180224000004122,
 190203000000538,
 180224000004126,
 200704000004150,
 200225000001591,
 200704000004161,
 181225000013898,
 190203000000595,
 200311000010850,
 190203000000611,
 181225000013924,
 180224000004209,
 190203000000627,
 200704000004213,
 181225000013948,
 180224000004229,
 200803000258700,
 200311000010892,
 200127000088717,
 200225000001680,
 200804000600208,
 181225000013975,
 180224000004248,
 190203000000665,
 190203000000666,
 200225000001692,
 200311000010911,
 181225000013986,
 200225000001710,
 190203000000709,
 180224000004295,
 180224000004297,
 180224000004305,
 200526000034002,
 181225000014040,
 181225000014041,
 200803000258778,
 180224000004335,
 181225000014064,
 180224000004336,
 191007694000375,
 180224000004348,
 181225000014079,
 181225000014081,
 180224000004355,
 191206288003333,
 200225000001799,
 190203000000790,
 181225000014103,
 191028007014681,
 181225000014105,
 200127000088859,
 200311000011035,
 181225000014115,
 180224000004409,
 200803000258877,
 190725000008003,
 190725000008004,
 190203000000837,
 190203000000838,
 190917269000518,
 190725000008005,
 190725000008006,
 200311000011082,
 200127000088900,
 200704000004424,
 190725000008013,
 200804000600392,
 190725000008015,
 190725000008017,
 190725000008020,
 191012767011166,
 190725000008035,
 181225000014182,
 200311000011115,
 181225000014187,
 190725000008046,
 200127000088947,
 190725000008055,
 200803000258936,
 200804000600451,
 190203000000900,
 190203000000899,
 190203000000907,
 180224000004495,
 180224000004500,
 191127131001236,
 190203000000924,
 190203000000926,
 180224000004511,
 191007694000543,
 200311000011170,
 200704000004515,
 200803000258983,
 190203000000936,
 181225000014248,
 171117000004020,
 190203000000951,
 190203000000952,
 200127000089015,
 200704000004542,
 200127000089032,
 200219000050127,
 200526000034258,
 200704000004564,
 180224000004564,
 181225000014300,
 171117000004063,
 181225000014303,
 200803000259046,
 200804000600553,
 160616000000501,
 200803000259063,
 191018293006845,
 200225000002047,
 200804000600576,
 200803000259080,
 181225000014353,
 180224000004628,
 181225000014363,
 191025287008804,
 181225000014375,
 200526000034350,
 171117000004142,
 ...}

In [10]:
unique_users = df['userId'].unique()

In [11]:
user_list = []
for u in tqdm(unique_users):
    user_list.append({
        '_key': str(u.strip())
    })

  0%|          | 0/409836 [00:00<?, ?it/s]

AttributeError: 'numpy.int64' object has no attribute 'strip'

In [ ]:
with open('json/users.json', 'w') as f:
    json.dump(user_list, f)

In [30]:
# Convert json to jsonl
!jq -c ".[]" json/users.json > jsonl/users.jsonl

In [33]:
# import to arangodb
# arangoimport --server.database=final --create-collection true --collection users --type jsonl --file "jsonl/users.jsonl" --progress true --threads 16

## Add latest devices info

In [34]:
devices_latest = df[df.groupby(['hw_device_id'])['timestamp'].transform(max) == df['timestamp']]

In [35]:
def format_packages(x):
    return x.split(', ') if type(x) is not float else 'nan'

In [36]:
def format_list_of_wifi(x):
    if type(x) is not float and x != '':
        return x.replace('"', '').split(', ')
    else:
        return 'nan'

In [37]:
def format_ringtone(x):
    return x.strip(',').split(',') if type(x) is not float else 'nan'

In [41]:
device_info = []
cols_exclude_devices = set(df.columns) - set(['hw_device_id', 'installed_packages', 'system_packages', 'list_of_wifi', 'ringtone'])
with tqdm(total=len(devices_latest)) as pbar:
    for _, row in devices_latest.iterrows():
        e = {
            '_id': row['hw_device_id'],
            '_key': row['hw_device_id'],
            'installed_packages': format_packages(row['installed_packages']),
            'system_packages': format_packages(row['system_packages']),
            'list_of_wifi': format_list_of_wifi(row['list_of_wifi']),
            'ringtone': format_ringtone(row['ringtone'])
        }
        for c in cols_exclude_devices:
            e[c] = str(row[c])
        device_info.append(e)
        pbar.update(1)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 407741/407741 [01:39<00:00, 4114.40it/s]

In [42]:
with open('json/devices.json', 'w') as f:
    json.dump(device_info, f)

In [43]:
# Convert json to jsonl
!jq -c ".[]" json/devices.json > jsonl/devices.jsonl

In [ ]:
# arangoimport --server.database=final --create-collection true --collection devices --type jsonl --file "jsonl/devices.jsonl" --progress true --threads 16

## Add users - devices

In [30]:
user_devices = []
cols_exclude_users_devices = set(df.columns) - set(['userId', 'hw_device_id', 'installed_packages', 'system_packages', 'list_of_wifi', 'ringtone'])
with tqdm(total=len(df)) as pbar:
    for _, row in df.iterrows():
        ud = {
            '_key': f"{str(row['userId']).strip()}_{str(row['hw_device_id'])}_{row['timestamp']}",
            '_from': 'users/' + str(row['userId']).strip(),
            '_to': 'devices/' + str(row['hw_device_id']).strip(),
            'type': 'user_use_device'
        }
        for c in cols_exclude_users_devices:
            ud[c] = str(row[c]).strip()
        user_devices.append(ud)
        pbar.update(1)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 495535/495535 [01:39<00:00, 4980.65it/s]

In [31]:
with open('json/users_use_devices.json', 'w') as f:
    json.dump(user_devices, f)

In [32]:
# Convert json to jsonl
!jq -c ".[]" json/users_use_devices.json > jsonl/users_use_devices.jsonl

In [ ]:
# arangoimport --server.database=final --create-collection-type edge --collection users_devices  --type jsonl --file "jsonl/users_use_devices.jsonl" --progress true --threads 16

## Devices model

In [ ]:
unique_device_model = df['hw_device_model'].unique()
inserted = []
for uq in unique_device_model:
    formatted = '_'.join(x for x in uq.split(' '))
    if formatted not in inserted:
        inserted.append(formatted)
        device_model.createDocument({
            '_key': formatted
        }).save()

## Device - DeviceModel

In [16]:
for _, row in df.iterrows():
    formatted_device_model = '_'.join(x for x in row['hw_device_model'].split(' '))
    new_ddm = device_deviceModel.createDocument({
        '_from': 'devices/' + str(row['hw_device_id']),
        '_to': 'device_model/' + formatted_device_model,
        'timestamp': str(row['timestamp']),
        'userId': str(row['userId'])
    })
    new_ddm.save()

# Test

In [10]:
df.head()

,timestamp,userId,hw_released,hw_device_id,hw_cpu_name,hw_screen_aspect_ratio,hw_screen_pixel_density,system_packages,network_wifi_mac_address,hw_screen_resolution,...,hw_ram_total,hw_cpu_min_speed,hw_storage_total,list_of_wifi,hw_camera_front_max_photo_resolution,hw_camera_back_max_video_resolution,ringtone,hw_camera_number_camera,hw_camera_back_max_photo_resolution,hw_camera_front_max_video_resolution
0,1596244856,170425000002238,Tue Jul 07 08:50:39 GMT+07:00 2020,f21ebb2f9064b16e,exynos9810,2,420 Dpi,"com.samsung.android.provider.filterprovider, c...",12:2F:14:33:9D:E7,1080x2400,...,"7,94 GB",455000Hz,118 GB,,NaN,NaN,NaN,NaN,NaN,NaN
1,1596244830,191113586003363,Thu Jul 02 12:19:14 GMT+07:00 2020,13cf342d200936c8,hi6250,1,320 Dpi,"com.huawei.hifolder, com.android.cts.priv.ctss...",A8:E5:44:0E:BD:BB,1200x1920,...,"2,88 GB",480000Hz,"25,23 GB","""Dinh1"", ""MaiCa"", ""NhuQuynh"", ""Support"", ""Nam ...",NaN,NaN,NaN,NaN,NaN,NaN
2,1596244888,200413000001404,Thu Dec 07 11:24:05 GMT+07:00 2017,b41f717314855504,sc8830,1,320 Dpi,"com.monotype.android.font.rosemary, com.sec.an...",AC:AF:B9:61:36:C8,720x1280,...,"1,33 GB",768000Hz,"4,79 GB","""Xiaomi_70BE_8F41"", ""COM TAM SONG ANH"", ""Redmi...",2576x1932,3264x2448,"Basic Bell,Basic Tone,Beep Once,Beep-Beep,Begi...",2,3264x2448,2576x1932
3,1596244831,200428000037320,Wed Apr 22 07:53:33 GMT+07:00 2020,8d36707898c6955d,samsungexynos9810,2,420 Dpi,"com.samsung.android.provider.filterprovider, c...",24:18:1D:FE:E3:E0,1080x2220,...,"5,89 GB",455000Hz,120 GB,,NaN,NaN,NaN,NaN,NaN,NaN
4,1596244849,190309000002524,Thu Mar 12 12:05:05 GMT+07:00 2020,af1934dafd8aba01,mt6757,1,420 Dpi,"com.samsung.android.provider.filterprovider, c...",A4:6C:F1:C3:34:4E,1080x1920,...,3.92 GB,247000Hz,26.75 GB,"""NamCoffee&Milktea"", ""YÃŠU Má»˜T NGÆ¯á»œI"", ""Studio1...",4608x3456,4128x3096,NaN,2,4128x3096,4608x3456

In [15]:
df.groupby(['userId']).agg({'hw_device_id': 'count'}).sort_values(by="hw_device_id")

                 hw_device_id
userId
160514000003501             1
200124000031214             1
200124000031205             1
200124000031090             1
200124000031055             1
...                       ...
191101679002231            67
171106000000266            68
190224000013026            86
200629000000643            93
171025000014202           107

[409836 rows x 1 columns]

In [12]:
df.groupby('hw_device_id').agg({'userId': lambda x: len(set(x))}).sort_values('userId', ascending=False)[:10]

                                      userId
hw_device_id
460968F8-068F-41C8-B130-2F5F7E968C9C      49
A5AA40DE-35CB-4406-B4E9-B10E497766A0      35
EDF10704-E7E4-4CC6-BA25-9A30C7720D02      32
027894A1-E617-4A74-9035-33E36FE16800      32
0CA30A94-6251-4727-8340-9B6BE942AACB      31
F8E47BD8-EA84-4621-94C8-104B535C3097      21
51E7555D-BC41-483A-B627-7FD3A6693E4E      20
3C9D6E46-A3C6-456E-BB39-48C0154C7F5A      20
3A8BA073-A02B-47E1-81EF-C69A62A879C2      19
D9E7640D-A830-4CDB-B653-DE1F1F3D2FC6      18

In [ ]:
df.groupby('hw_device_id').agg({'userId': lambda x: len(set(x))}).sort_values('userId')